<template>
  <div class="contents">

    <!-- 准点率（星期） -->
    <div class="costControl">
      <h2 class="title">准点率（星期）</h2>
      <div class="costControlCon">
        <div class="main-select">
          <ul class="clearfix">
            <li>
              <span class="name">选择商圈：</span>
              <span class="value value01">
									<select>
										<option value="0">全部商圈</option>
										<option value="1">商圈01</option>
										<option value="2">山气管02</option>
										<option value="3">文字好多文字好多文字好文字好多文字好多文字好</option>
									</select>
									<i class="icons"></i>
								</span>
            </li>
            <li>
              <span class="name">选择车线：</span>
              <span class="value value02">
									<select>
										<option value="0">车线01</option>
										<option value="1">车线02</option>
										<option value="2">车线03</option>
										<option value="3">车线04</option>
									</select>
									<i class="icons"></i>
								</span>
              <input class="submitBtn" type="submit" value="确定"/>
            </li>
          </ul>
        </div>


          <div class="chart01">
            <chart01></chart01>
              星期一
          </div>

          <!--<div class="chart02">-->
            <!--<chart02></chart02>-->
            <!--星期二-->
          <!--</div>-->

        <div>
          <img src="../../assets/images/chart1.png"/>
        </div>
      </div>
    </div>

    <!-- 准点率（城市） -->
    <div class="costControl">
      <h2 class="title">准点率（城市）</h2>
      <div class="costControlCon clearfix">
        <i class="bd"></i>
        <div class="info">
          <ul>
            <li><i class="color-icons color-icons1"></i>
              <p>商圈01</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons2"></i>
              <p>商圈02</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons3"></i>
              <p>商圈03</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons4"></i>
              <p>商圈04</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons5"></i>
              <p>商圈05</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons6"></i>
              <p>商圈06</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons7"></i>
              <p>商圈07</p>
              <p>准点率：70%</p><i class="cos"></i></li>
            <li><i class="color-icons color-icons8"></i>
              <p>商圈08</p>
              <p>准点率：70%</p><i class="cos"></i></li>
          </ul>
        </div>
        <div class="chart">
          <customer-chart3></customer-chart3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import CustomerChart3 from '../chart/customer/Chart3.vue'
  import Chart01 from '../chart/customer/Chart01.vue'
  import Chart02 from '../chart/customer/Chart02.vue'

  export default {
    data() {
      return {}
    },
    components: {
      CustomerChart3,
      Chart01,
      Chart02
    },
    methods: {}

  }
</script>

<style scoped>

  /*主体内容*/
  .contents {
    padding: 10px;
  }

  .charts{
    display: inline;
  }



  .chart01{
    width: 250px;
    height: 250px;
    text-align: center;
  }

  .chart02{
    width: 250px;
    height: 250px;
    text-align: center;
  }

  /*模块*/
  .costControl {
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    margin-top: 10px;
  }

  .costControl .title {
    height: 48px;
    line-height: 48px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
  }

  .costControlCon {
    position: relative;
    overflow: hidden;
  }

  .costControlCon img {
    max-width: 100%;
    display: block;
  }

  /**
   * 准点率（星期）
   * 查询条件
   */
  .main-select {
    width: 100%;
    border-bottom: 0 !important;
  }

  .main-select ul {
    width: 100%;
    overflow: hidden;
  }

  .main-select ul li {
    float: left;
    font-size: 14px;
    color: #2a3039;
    padding: 15px 0 15px 30px !important;
  }

  .main-select ul li .name {
    height: 36px;
    line-height: 36px;
    margin-right: 24px;
    display: inline-block;
    float: left;
  }

  .main-select ul li .value {
    padding: 3px 0;
    display: block;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
  }

  .main-select ul li .value .icons {
    width: 10px;
    height: 7px;
    background: url("../../assets/images/sel.png") no-repeat center center;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
  }

  .main-select ul li .value01 {
    width: 170px;
  }

  .main-select ul li .value02 {
    width: 120px;
    margin-right: 20px;
  }

  .main-select ul li .value select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #2a3039;
    background: transparent;
    -webkit-appearance: none;
    border: 0 none;
    padding: 0 30px 0 10px;
  }

  .main-select ul li .border {
    height: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    float: left;
    margin-right: 20px;
  }

  .main .main-select ul li .submitBtn {
    width: 82px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #28c4ff;
    display: block;
    border: 0 none;
    border-radius: 4px;
    margin-left: 20px;
    float: left;
    opacity: 0.9;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }

  .main .main-select ul li .submitBtn:hover {
    opacity: 1;
    background: #61c8cc;
  }

  /**
   * 准点率（城市）
   */
  .bd {
    height: 100%;
    border-right: 1px solid #f2f2f2;
    position: absolute;
    top: 0;
    left: 350px;
    z-index: 98;
  }

  .costControlCon .info {
    width: 350px;
    float: left;
  }

  .costControlCon .info .infoItem li,
  .costControlCon .info ul li {
    padding: 20px 0 20px 70px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
  }

  .costControlCon .info ul li i {
    position: absolute;
  }

  .costControlCon .info ul li .cos {
    width: 20px;
    height: 20px;
    top: 50%;
    right: 35px;
    margin-top: -10px;
    background: url("../../assets/images/cos.png") no-repeat;
  }

  .costControlCon .info ul li .color-icons {
    width: 16px;
    height: 16px;
    top: 50%;
    left: 25px;
    margin-top: -8px;
    border-radius: 100%;
  }

  .costControlCon .info ul li .color-icons1 {
    background: #a80303;
  }

  .costControlCon .info ul li .color-icons2 {
    background: #cd0a0a;
  }

  .costControlCon .info ul li .color-icons3 {
    background: #fc1b1b;
  }

  .costControlCon .info ul li .color-icons4 {
    background: #ff9536;
  }

  .costControlCon .info ul li .color-icons5 {
    background: #daf024;
  }

  .costControlCon .info ul li .color-icons6 {
    background: #78e61f;
  }

  .costControlCon .info ul li .color-icons7 {
    background: #57b809;
  }

  .costControlCon .info ul li .color-icons8 {
    background: #489807;
  }

  .costControlCon .chart {
    overflow: auto; /*禁止删除*/
    /*border: 1px solid red;*/
  }

  .costControlCon .chart img {
    width: 100%;
    display: block;
  }

</style>
