<template>
  <!--<section class="main">-->

  <div class="contents">
    <div class="main-select">
      <ul class="clearfix">
        <li>
          <span class="name">选择城市：</span>
          <span class="value value01">
							<select>
								<option value="0">上海市</option>
								<option value="1">南京市</option>
							</select>
							<i class="icons"></i>
						</span>
        </li>
        <li>
          <span class="name">选择时间：</span>
          <span class="value value02">
							<select>
								<option value="0">全部年份</option>
								<option value="1">2017年</option>
								<option value="2">2018年</option>
								<option value="3">2019年</option>
							</select>
							<i class="icons"></i>
						</span>
          <input class="submitBtn" type="submit" value="确定"/>
        </li>
      </ul>
    </div>
    <!-- 成本管控 -->
    <div class="costControl">
      <h2 class="title">成本管控</h2>
      <div class="costControlCon">
        <img src="../../assets/images/未标题-1.jpg"/>
      </div>
    </div>
    <!-- 收入和运费明细 -->
    <div class="costControl">
      <h2 class="title">收入和运费明细</h2>
      <div class="costControlCon">
        <chart1></chart1>
      </div>
      <div>
        <img src="../../assets/images/chart001.png"/>
      </div>
    </div>
    <!-- 车辆费用 -->
    <div class="costControl">
      <h2 class="title">车辆费用</h2>
      <div class="costControlCon clearfix">
        <i class="bd"></i>
        <div class="info">
          <ul>
            <li>
              <i class="color-icons color-icons1"></i>
              <p>商圈01</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons2"></i>
              <p>商圈02</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons3"></i>
              <p>商圈03</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons4"></i>
              <p>商圈04</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons5"></i>
              <p>商圈05</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons6"></i>
              <p>商圈06</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons7"></i>
              <p>商圈07</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons8"></i>
              <p>商圈08</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons7"></i>
              <p>商圈07</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons8"></i>
              <p>商圈08</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons7"></i>
              <p>商圈07</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
            <li>
              <i class="color-icons color-icons8"></i>
              <p>商圈08</p>
              <p>费用成本：427721</p>
              <i class="cos"></i>
            </li>
          </ul>
        </div>
        <div class="chart">
          <!--<img src="../../assets/images/未标题-3.jpg" />-->
          <chart2></chart2>
        </div>
      </div>
    </div>
  </div>
  <!--</section>-->

</template>

<script>
  import Chart1 from '../chart/finance/Chart1.vue'
  import Chart2 from '../chart/finance/Chart2.vue'

  export default {
    components: {
      Chart1,
      Chart2,
    },
    data() {
      return {}
    },
    methods: {}

  }
</script>

<style scoped>

  /*主体内容*/
  .contents {
    padding: 10px;
  }

  /*每个模块*/
  .costControl,
  .main-select {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 2px;
  }

  /*查询条件*/
  .main-select {
    width: 100%;
    /*padding: 24px 0;*/
  }

  .main-select ul {
    width: 100%;
    overflow: hidden;
  }

  .main-select ul li {
    float: left;
    /*margin-left: 30px;*/
    font-size: 14px;
    color: #2a3039;
    padding: 15px 0 15px 30px !important;
  }

  .main-select ul li .name {
    height: 36px;
    line-height: 36px;
    margin-right: 24px;
    display: inline-block;
    float: left;
  }

  .main-select ul li .value {
    padding: 3px 0;
    display: block;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
  }

  .main-select ul li .value .icons {
    width: 10px;
    height: 7px;
    background: url("../../assets/images/sel.png") no-repeat center center;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
  }

  .main-select ul li .value01 {
    width: 170px;
  }

  .main-select ul li .value02 {
    width: 120px;
    margin-right: 20px;
  }

  .main-select ul li .value select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #2a3039;
    background: transparent;
    -webkit-appearance: none;
    border: 0 none;
    padding: 0 30px 0 10px;
  }

  .main-select ul li .border {
    height: 36px;
    line-height: 36px;
    color: #000;
    font-weight: 700;
    float: left;
    margin-right: 20px;
  }

  .main .main-select ul li .submitBtn {
    width: 82px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #28c4ff;
    display: block;
    border: 0 none;
    border-radius: 4px;
    margin-left: 20px;
    float: left;
    opacity: 0.9;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }

  .main .main-select ul li .submitBtn:hover {

    opacity: 1;
    background: #61c8cc;
  }

  .costControl {
    margin-top: 10px;
  }

  .costControl .title {
    height: 48px;
    line-height: 48px;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
  }

  .costControlCon {
    position: relative;
    overflow: hidden;
  }

  .costControlCon img {
    max-width: 100%;
    display: block;
  }

  .bd {
    height: 100%;
    border-right: 1px solid #f2f2f2;
    position: absolute;
    top: 0;
    left: 350px;
    z-index: 98;
  }

  .costControlCon .info {
    width: 350px;
    float: left;
    padding-bottom: 85px;
  }

  .costControlCon .info .infoItem li,
  .costControlCon .info ul li {
    padding: 20px 20px 20px 60px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f2f2f2;
  }

  /*.costControlCon .info ul li:last-child {
      border-bottom: 0;
  }*/
  .costControlCon .info ul li i {
    position: absolute;
  }

  .costControlCon .info ul li .cos {
    width: 20px;
    height: 20px;
    top: 50%;
    right: 35px;
    margin-top: -10px;
    background: url("../../assets/images/cos.png") no-repeat;
  }

  .costControlCon .info ul li .color-icons {
    width: 16px;
    height: 16px;
    top: 50%;
    left: 25px;
    margin-top: -8px;
    border-radius: 100%;
  }

  .costControlCon .info ul li .color-icons1 {
    background: #a80303;
  }

  .costControlCon .info ul li .color-icons2 {
    background: #cd0a0a;
  }

  .costControlCon .info ul li .color-icons3 {
    background: #fc1b1b;
  }

  .costControlCon .info ul li .color-icons4 {
    background: #ff9536;
  }

  .costControlCon .info ul li .color-icons5 {
    background: #daf024;
  }

  .costControlCon .info ul li .color-icons6 {
    background: #78e61f;
  }

  .costControlCon .info ul li .color-icons7 {
    background: #57b809;
  }

  .costControlCon .info ul li .color-icons8 {
    background: #489807;
  }

  .costControlCon .chart {
    overflow: auto; /*禁止删除*/
  }

  .costControlCon .chart img {
    width: 100%;
    display: block;
  }
</style>
