<template>
  <div class="contents">

    <div class="item con-lt">

      <aside class="sidebar">
        <div class="hgroup">
          <ul class="hgroup-contion">
            <li>线路数<strong>14</strong></li>
            <li>订单总数<strong>18</strong></li>
            <li class="active">未排线订单<strong>72</strong></li>
          </ul>
          <a class="hgroup-contion-btn" href="javascript:void(0);">确认排线</a>
        </div>
      </aside>

      <div class="main-select">
        <ul>
          <li>
            <span class="name">选择城市：</span>
            <span class="value value01">
								<select v-model="city">
									<option v-for="item in cityList" :key="item" :value="item">{{item}}</option>
								</select>
								<i class="icons"></i>
							</span>
          </li>
          <li style="margin-top: 20px;">
            <span class="name">选择商圈：</span>
            <span class="value value01">
								<select v-model="stationRegionId">
                  <option v-for="item in stationRegionIdList" :key="item" :value="item">{{item}}</option>
								</select>
								<i class="icons"></i>
							</span>
          </li>
          <li>
            <input class="submitBtn" type="submit" value="确定" @click="search">
          </li>
        </ul>
      </div>


      <div class="tab-ui">

        <div class="tab-ui-btn">
          <a @click="showRoute" v-bind:class="{active: showList}">车线汇总</a>
          <a @click="showUnrouted" v-bind:class="{active: !showList}">未排线订单</a>
        </div>

        <div class="tab-ui-item-wrap">

          <div v-show="showList" class="tab-ui-item">
            <div class="table-title clearfix">
              <span>线路</span>
              <span>
									<p>客户数</p>
									<p>最晚时间</p>
								</span>
              <span>
									<p>总时长</p>
									<p>总公里</p>
								</span>
              <span>
									<p>装载体积</p>
									<p>金额</p>
								</span>
            </div>
            <div class="table-con">
              <table class="table clearfix table-route">
                <tr v-for="item in routeSummaryList" :key="item.routeId" :value="item.routeId"
                    @click="selectRouteSummary(item.routeId)">
                  <td>
                    <span class="id">{{item.routeId}}</span>
                  </td>
                  <td>
                    <p>{{item.totalCustomer}}</p>
                    <p>{{item.lastTime}}</p></td>
                  <td>
                    <p>{{item.totalHours}}</p>
                    <p>{{item.totalMiles}}</p></td>
                  <td>
                    <p>{{item.totalV}}</p>
                    <p>{{item.totalPrice}}</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div v-show="!showList" class="tab-ui-item">
            <div class="table-title table-title-three clearfix">
              <span>客户ID</span>
              <span>经纬度（地址）</span>
              <span>未分配原因</span>
            </div>
            <div class="table-con">
              <table class="table table-unrouted">
                <tr v-for="item in unRouteOrderList"
                    :key="item.customerId" :value="item.customerId"
                    @click="showPoint(item.customerId)">
                  <td>{{item.customerId}}</td>
                  <td>
                    <p>{{item.lng}}</p>
                    <p>{{item.lat}}</p>
                  </td>
                  <td>{{item.reason}}</td>
                </tr>
              </table>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="item con-rt">
      <div id="gmap">
      </div>
      <div id="gmap-legend">
      </div>
    </div>

  </div>
</template>


<script>
  import Api from '../../api/api.js';

  export default {
    data() {
      return {
        // 数据
        gamp: null,
        cityList: ['北京市'],  // fixme 后台请求获取
        routeSummaryList: [],
        stationRegionIdList: [],
        unRouteOrderList: [],
        routeDetailList: [],
        allRouteDetailList: [],
//        routeStyleList: [],

        // 参数
        date: '2017-8-7', // fixme 今日日期
        city: '北京市',
        stationRegionId: 16,  // fixme 默认显示商圈
        showList: true
      }
    },
    created() {
      this.getStationRegionIdList();
      this.getRouteSummary();
      this.getLineRouteDetail();
      this.getUnroutedOrder();
    },
    mounted() {
      this.loadMap();     //加载地图和相关组件
    },
    beforeUpdate() {
      /**
       * 前端提供的JS
       */
      $(function () {
//        init.bindEvent();
      });

      let init = {
        bindEvent: function () {
          $('.tab-ui .tab-ui-item').eq(0).show();

          $('.tab-ui-item-wrap .tab-ui-item').each(function (index, value) {
            $(value).find('.table tr').click(function () {
              $(value).find('.table tr').removeClass('active');
              $(this).addClass('active');
            })
          })
        }
      }
    },
    methods: {
      search() {
        this.gmap.clearMap( );
        this.searchInit();
        this.getRouteSummary();
        this.getLineRouteDetail();
        this.getUnroutedOrder();
      },

      // 商圈ID
      getStationRegionIdList() {
        this.$axios.get(Api.stationRegionIdList)
          .then(response => {
            this.stationRegionIdList = response.data.data;
          })
          .catch(error => {
            console.log(Api.stationRegionIdList + ": " + error);
          });
      },
      // 路由概览
      getRouteSummary() {
        let params = {
          params: {
            stationId: this.stationRegionId,
            date: this.date
          }
        };
        this.$axios.get(Api.getRouteSummaryList, params)
          .then(response => {
            this.routeSummaryList = response.data.data;
          })
          .catch(error => {
            console.log(Api.routeSummaryList + ": " + error);
          });
      },
      // 今日路由详情
      getLineRouteDetail() {
        let params = {
          params: {
            stationId: this.stationRegionId,
            date: this.date
          }
        };
        this.$axios.get(Api.lineRouteDetail, params)
          .then(response => {
            this.routeDetailList = response.data.data;
            this.allRouteDetailList = response.data.data;
            this.addRouteDetail(this.gmap);
          })
          .catch(error => {
            console.log(Api.lineRouteDetail + ": " + error);
          });
      },
      // 未路由订单
      getUnroutedOrder() {
        let params = {
          params: {
            stationId: this.stationRegionId,
            date: this.date
          }
        };
        this.$axios.get(Api.getUnroutedOrderList, params)
          .then(response => {
            this.unRouteOrderList = response.data.data;
            this.addUnrouteDetail(this.gmap);
          })
          .catch(error => {
            console.log(Api.unRouteOrderList + ": " + error);
          });
      },

      selectRouteSummary(routeId) {
        if ($(event.currentTarget).hasClass('active')) {
          $(event.currentTarget).removeClass('active');
          let markerList = this.gmap.getAllOverlays('marker');
          for (let i = 0; i < markerList.length; i++) {
            markerList[i].show();
          }
        } else {
          $('.tab-ui-item-wrap .tab-ui-item .table-route tr').each(function () {
            $(this).removeClass('active');
          });
          let markerList = this.gmap.getAllOverlays('marker');
          for (let i = 0; i < markerList.length; i++) {
            markerList[i].show();
          }

          $(event.currentTarget).addClass('active');
          for (let i = 0; i < markerList.length; i++) {
            if (markerList[i].opts.type === 'route') {
              if (markerList[i].opts.routeId !== routeId)
                markerList[i].hide();
            }
          }
        }
      },

      showRoute() {
        this.showList = true;
//        this.showRouteMap();
      },
      showUnrouted() {
        this.showList = false;
//        this.showUnroutedMap();
      },


      searchInit() {
        $('.tab-ui-item-wrap .tab-ui-item .table-route tr').each(function () {
          $(this).removeClass('active');
        });
        $('.tab-ui-item-wrap .tab-ui-item .table-unrouted tr').each(function () {
          $(this).removeClass('active');
        });
      },

      /**
       * 地图相关
       */
      loadMap() {
        this.gmap =  new AMap.Map('gmap', {
          zoom: 10
        });
        this.gmap.setCity(this.city);
      },

      showUnroutedMap() {
        let markerList = this.gmap.getAllOverlays('marker');
        for (let i = 0; i < markerList.length; i++) {
          if (markerList[i].opts.type === 'unroutedOrder') {
            markerList[i].show();
          } else {
            markerList[i].hide();
          }
        }
      },
      showRouteMap() {
        let markerList = this.gmap.getAllOverlays('marker');
        for (let i = 0; i < markerList.length; i++) {
          if (markerList[i].opts.type === 'route') {
            markerList[i].show();
          } else {
            markerList[i].hide();
          }
        }
      },

      addUnrouteDetail(gmap) {
        let unRouterOrderList = this.unRouteOrderList;
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          for (let i = 0; i < unRouterOrderList.length; i++) {
            let point = new AMap.LngLat(unRouterOrderList[i].lng, unRouterOrderList[i].lat);
            let marker = new SimpleMarker({
              type: "unroutedOrder",
              customerId: unRouterOrderList[i].customerId,
              map: gmap,
              position: point,
              iconStyle: 'red',
              topWhenClick: true,
            });

            let markerContent = [];
            markerContent.push("商户ID：" + unRouterOrderList[i].customerId);
            markerContent.push("经度：" + unRouterOrderList[i].lng);
            markerContent.push("纬度：" + unRouterOrderList[i].lat);
            marker.content = markerContent.join("<br/>");

            let infoWindow = new AMap.InfoWindow({
              offset: new AMap.Pixel(0, -40)
            });

            let clickListener = AMap.event.addListener(marker, "click", function () {
              infoWindow.setContent(marker.content);
              infoWindow.open(gmap, marker.F.position);
            });

/*            marker.on('click', function (e) {
              infoWindow.setContent(e.target.content);
              infoWindow.open(gmap, e.target.getPosition());
            });*/
          }
        });
      },

      addRouteDetail(gmap) {
        let lineList = this.routeDetailList;
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          let iconStyles = SimpleMarker.getBuiltInIconStyles('default');
          createMapLegend(lineList, iconStyles);  // 生成图例

          for (let i = 0; i < lineList.length; i++) {
            let pointList = lineList[i].detail;
            for (let j = 0; j < pointList.length; j++) {
              let point = new AMap.LngLat(pointList[j].lng, pointList[j].lat);
              let marker = new SimpleMarker({
                type: 'route',
                routeId: lineList[i].routeId,
                customerId: pointList[j].stop,
                map: gmap,
                position: point,
                iconLabel: {
                  innerHTML: pointList[j].stop,
                  style: {
                    color: '#fff'
                  }
                },
                iconStyle: iconStyles[i + 1],
                topWhenClick: true,
              });

              // 设置信息窗
              let markerContent = [];
              markerContent.push("预期时间：" + pointList[j].timeWindow);
              markerContent.push("客户ID：" + pointList[j].customerId);
              markerContent.push("地址：" + pointList[j].lng + ", " + pointList[j].lat);
              markerContent.push("金额：" + pointList[j].price);
              marker.content = markerContent.join("<br/>");

              let infoWindow = new AMap.InfoWindow({
                offset: new AMap.Pixel(0, -40)
              });

              marker.on('click', function (e) {
                infoWindow.setContent(e.target.content);
                infoWindow.open(gmap, e.target.getPosition());
              });

            }
          }
        });

        function createMapLegend(routeList, styleList) {
          $("#gmap-legend").html(function () {
            let legend = '';
            for (let i = 0; i < routeList.length; i++) {
              legend = legend + '<span class=\"label\" style="background-color: ' + styleList[i + 1] + '\">' + routeList[i].routeId + '</span>';
            }
            legend = legend + '<span class=\"label\" style="background-color: #FF0000\">未路由</span>';
            return legend;
          })
        }
      },

      showPoint(customerId) {
        if ($(event.currentTarget).hasClass('active')) {
          $(event.currentTarget).removeClass('active');
        } else {
          $('.tab-ui-item-wrap .tab-ui-item .table-unrouted tr').each(function () {
            $(this).removeClass('active');
          });

          $(event.currentTarget).addClass('active');

          let markers = this.gmap.getAllOverlays('marker');
          for (let i = 0; i < markers.length; i++) {
            if (markers[i].opts.customerId === customerId) {
              let point = new AMap.LngLat(this.unRouteOrderList[i].lng, this.unRouteOrderList[i].lat);
              this.gmap.setZoomAndCenter(16, point);
              AMap.event.trigger(markers[i], 'click');
            }
          }
        }
      }

    }
  }

</script>


<style scoped>

  /*主体内容*/
  .contents {
    padding: 10px;
    overflow: hidden;
  }

  /*主体-模块*/
  .contents .item {
    height: 100%;
  }

  /*主体-左侧模块*/
  .contents .item.con-lt {
    width: 29%;
    float: left;
  }

  /*主体-左侧模块-信息总览*/
  .sidebar {
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #f2f2f2;
  }

  .sidebar .hgroup {
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
  }

  .sidebar .hgroup .hgroup-contion {
    width: 100%;
    overflow: hidden;
  }

  .sidebar .hgroup .hgroup-contion li {
    width: 33.33%;
    float: left;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #424242;
  }

  .sidebar .hgroup .hgroup-contion li.active,
  .sidebar .hgroup .hgroup-contion li.active strong {
    color: #f58c27;
  }

  .sidebar .hgroup .hgroup-contion li strong {
    width: 60px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hgroup-contion-btn {
    width: 150px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #f8a02a;
    display: block;
    color: #fff !important;
    margin: 10px auto 0 auto;
    border-radius: 4px;
    text-decoration: none !important;
  }

  .hgroup-contion-btn:hover,
  .hgroup-contion-btn:visited,
  .hgroup-contion-btn:active {
    color: #fff !important;
    text-decoration: none !important;
  }

  /*主体-左侧模块-查询条件*/
  .main-select {
    width: 100%;
    padding: 16px 0 16px 32px;
    background: #fff;
    border-radius: 2px;
  }

  .main-select ul {
    width: 100%;
    overflow: hidden;
  }

  .main-select ul li {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    color: #2a3039;
  }

  .main-select ul li .name {
    height: 36px;
    line-height: 36px;
    margin-right: 15px;
    display: inline-block;
    float: left;
  }

  .main-select ul li .value {
    padding: 3px 0;
    display: block;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
  }

  .main-select ul li .value .icons {
    width: 10px;
    height: 7px;
    background: url("../../assets/images/sel.png") no-repeat center center;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
  }

  .main-select ul li .value01 {
    width: 180px;
  }

  .main-select ul li .value select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #2a3039;
    background: transparent;
    -webkit-appearance: none;
    border: 0 none;
    padding: 0 30px 0 10px;
  }

  .main-select ul li .submitBtn {
    width: 82px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #28c4ff;
    display: block;
    border: 0 none;
    border-radius: 4px;
    opacity: 0.9;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    margin: 20px auto 0 auto;
  }

  .main-select ul li .submitBtn:hover {
    opacity: 1;
    background: #61c8cc;
  }

  /*主体-左侧模块-列表*/
  .tab-ui {
    margin-top: 10px;
    border: 1px solid #f2f2f2;
  }

  .contents .item.con-lt .table,
  .contents .item.con-lt .table th,
  .contents .item.con-lt .table td {
    vertical-align: middle;
    border-top: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
    background: #fff;
    padding: 8px;
  }

  .contents .item.con-lt .table {
    border: 0 !important;
    background: #fff;
  }

  .contents .item.con-lt .table {
    width: 100%;
    text-align: center;
    border-right: 0;
    border-left: 0;
    margin-bottom: 0 !important;
    font-size: 13px;
    color: #000;
  }

  .contents .item.con-lt .table th {
    line-height: 30px;
    text-align: center;
    background: url("../../assets/images/searchBorder.png") no-repeat right center;
  }

  .contents .item.con-lt .table th:last-child {
    background: none;
  }

  .contents .item.con-lt .table td {
    position: relative;
  }

  .contents .item.con-lt .table .id {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .contents .item.con-lt .searchBtn img {
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -6px;
  }

  .contents .item.con-lt .table tr p {
    height: 22px;
    line-height: 22px;
  }

  .contents .item.con-lt .table tr {
    cursor: pointer;
  }

  /*主体-左侧模块-列表-切换选项*/
  .tab-ui-btn {
    width: 100%;
    height: 34px;
    line-height: 34px;
    background: #f8f8f8;
  }

  .tab-ui-btn a {
    width: 50%;
    float: left;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #1ad974 !important;
    text-decoration: none !important;
    position: relative;
  }

  .tab-ui-btn a.active {
    color: #fff !important;;
    background: #1ad974;
  }

  .tab-ui-btn a:active,
  .tab-ui-btn a:hover {
    color: #fff !important;
    background: #1ad974;
    text-decoration: none !important;
  }

  .tab-ui-btn a i {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 99;
    display: none;
  }

  /*主体-左侧模块-列表-路由*/
  .table-title {
    background: #fff;
    padding: 15px 0;
  }

  .table-title span {
    width: 25%;
    text-align: center;
    display: block;
    float: left;
  }

  .table-con {
    height: 600px;
    overflow-y: auto;
    background: #fff;
  }

  .table-con tr.active td {
    background: #1ad974 !important;
    color: #000 !important;
  }

  /*主体-左侧模块-列表-未路由*/
  .table-title-three span {
    width: 33.33%;
  }

  /*主体-右侧模块*/
  .contents .item.con-rt {
    width: 70%;
    float: right;
  }

  /*主体-右侧模块-地图*/
  #gmap {
    min-height: 1050px;
  }

  /*主体-右侧模块-图例*/
  #gmap-legend {
    position: absolute;
    top: 140px;
    right: 5%;
    font-size: 20px;
  }
</style>
