<template>
  <div class="contents">

    <!--查询条件-->
    <div class="main-select">
      <ul class="clearfix">
        <li>
          <span class="name">选择城市：</span>
          <span class="value value01">
							<select>
								<option value="0">南京市</option>
								<option value="1">上海市</option>
							</select>
							<i class="icons"></i>
						</span>
        </li>
        <li>
          <input class="submitBtn" type="submit" value="确定"/>
        </li>
      </ul>
    </div>

    <!--统计图表-->
    <div class="statisticalChart clearfix">
      <div class="statisticalChartItem">
        <line-chart1></line-chart1>
      </div>
      <div class="statisticalChartItem">
        <line-chart2></line-chart2>
      </div>
      <div class="statisticalChartItem">
        <line-chart3></line-chart3>
      </div>
      <div class="statisticalChartItem">
        <line-chart4></line-chart4>
      </div>
      <div class="statisticalChartItem2">
        <line-chart5></line-chart5>
      </div>
    </div>

    <div class="model clearfix">

      <div class="model-lt">

        <div class="main-select">
          <ul>
            <li>
              <span class="name">选择城市：</span>
              <span class="value value03">
									<select><option value="0">南京市</option><option value="1">上海市</option></select>
									<i class="icons"></i>
								</span>
            </li>
            <li class="main-select-spe">
              <span class="name">选择时间：</span>
              <span class="value value03">
									<select><option value="0">2017</option></select>
									<i class="icons"></i>
								</span>
              <span class="value value03">
									<select><option value="0">09</option></select>
									<i class="icons"></i>
								</span>
              <span class="value value03">
									<select><option value="0">27</option></select>
									<i class="icons"></i>
								</span>
              <input class="submitBtn" type="submit" value="确定">
            </li>
          </ul>
        </div>

        <div class="table-data">

          <div class="table-data-item">
            <div class="main-select">
              <ul>
                <li>
                  <span class="name">选择线路：</span>
                  <span class="value value03">
											<select><option value="0">车线01</option><option value="1">车线02</option><option
                        value="2">车线03</option><option value="3">车线04</option></select>
											<i class="icons"></i>
                  </span>
                </li>
                <li>
                  <span class="text">客户数：11</span><span class="text">车型：CX90</span><span
                  class="text">里程数：398km</span><span class="text">最晚送达时间：10:00pm</span>
                </li>
              </ul>
            </div>
            <div class="table-title clearfix">
              <span>商家ID</span><span>车型</span><span>里程数</span><span>送达时间</span><span>商家期望送达时间</span>
            </div>
            <div class="table-con">
              <table class="table">
                <tbody>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="table-data-item">
            <div class="main-select">
              <ul>
                <li>
                  <span class="name">选择线路：</span>
                  <span class="value value03">
											<select><option value="0">车线01</option><option value="1">车线02</option><option
                        value="2">车线03</option><option value="3">车线04</option></select>
											<i class="icons"></i>
										</span>
                </li>
                <li>
                  <span class="text">客户数：11</span><span class="text">车型：CX90</span><span
                  class="text">里程数：398km</span><span class="text">最晚送达时间：10:00pm</span>
                </li>
              </ul>
            </div>
            <div class="table-title clearfix">
              <span>商家ID</span><span>车型</span><span>里程数</span><span>送达时间</span><span>商家期望送达时间</span>
            </div>
            <div class="table-con">
              <table class="table">
                <tbody>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                <tr>
                  <td>商家01</td>
                  <td>CX70</td>
                  <td>12km</td>
                  <td>08:00am</td>
                  <td>07:00am-10:00am</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>

      <div class="model-rt">
        <img style="width: 100%" src="../../assets/images/未标题-6.jpg"/>
      </div>

    </div>

  </div>
</template>

<script>
  import LineChart1 from '../chart/line/Chart1.vue'
  import LineChart2 from '../chart/line/Chart2.vue'
  import LineChart3 from '../chart/line/Chart3.vue'
  import LineChart4 from '../chart/line/Chart4.vue'
  import LineChart5 from '../chart/line/Chart5.vue'

  export default {
    data() {
      return {}
    },
    components: {
      LineChart1,
      LineChart2,
      LineChart3,
      LineChart4,
      LineChart5
    },
    methods: {}

  }
</script>

<style scoped>
  /*主体内容*/
  .contents {
    padding: 10px;
  }

  /*条件查询*/
  .main-select {
    width: 100%;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
  }

  .main-select ul {
    width: 100%;
    overflow: hidden;
  }

  .main-select ul li {
    float: left;
    font-size: 14px;
    color: #2a3039;
    padding: 15px 0 15px 30px !important;
  }

  .main-select ul li .name {
    height: 36px;
    line-height: 36px;
    margin-right: 24px;
    display: inline-block;
    float: left;
  }

  .main-select ul li .value {
    padding: 3px 0;
    display: block;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    background: #f8f8f8;
    position: relative;
  }

  .main-select ul li .value .icons {
    width: 10px;
    height: 7px;
    background: url("../../assets/images/sel.png") no-repeat center center;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -3px;
  }

  .main-select ul li .value01 {
    width: 170px;
  }

  .main-select ul li .value03 {
    width: 100px;
  }

  .main-select-spe .value03 {
    margin-right: 15px;
  }

  .main-select ul li .value select {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #2a3039;
    background: transparent;
    -webkit-appearance: none;
    border: 0 none;
    padding: 0 30px 0 10px;
  }

  .main-select ul li .submitBtn {
    width: 82px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #28c4ff;
    display: block;
    border: 0 none;
    border-radius: 4px;
    margin-left: 20px;
    float: left;
    opacity: 0.9;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }

  .main-select ul li .submitBtn:hover {
    opacity: 1;
    background: #61c8cc;
  }

  /*统计图表*/
  .statisticalChart {
    margin-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid #f2f2f2;
  }

  .statisticalChart .statisticalChartItem {
    width: 50%;
    float: left;
    margin-top: 30px;
  }

  .statisticalChart .statisticalChartItem2 {
    width: 100%;
    float: left;
    margin-top: 30px;
  }

  .statisticalChart .statisticalChartItem img {
    margin: 0 auto;
    display: block;
  }

  /*历史路由*/
  .model {
    width: 100%;
    margin-top: 10px;
  }

  .model .main-select {
    border-bottom: 0;
  }

  .model .model-lt {
    width: 69%;
    float: left;
    background: #fff;
    border: 1px solid #f2f2f2;
  }

  .model .model-rt {
    width: 30%;
    float: right;
    background: #fff;
  }

  .contents .table,
  .contents .table th,
  .contents .table td {
    width: 20%;
    vertical-align: middle;
    border-top: 1px solid #f2f2f2 !important;
    border-bottom: 1px solid #f2f2f2 !important;
  }

  .contents .table {
    border: 0 !important;
  }

  .contents .table {
    width: 100%;
    text-align: center;
    border-right: 0;
    border-left: 0;
    margin-bottom: 0 !important;
    font-size: 13px;
    color: #000;
  }

  .contents .table th {
    line-height: 30px;
    text-align: center;
    background: url("../../assets/images/searchBorder.png") no-repeat right center;
  }

  .contents .table th:last-child {
    background: none;
  }

  .contents .table td {
    height: 50px;
    position: relative;
  }

  .contents .table .color {
    width: 2px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .contents .table .id {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .table-data-item {
    margin-top: -1px;
  }

  .model .table-data .text {
    padding-top: 5px;
    padding-right: 10px;
    display: inline-block;
  }

  .model .main-select {
    border-bottom: 0;
  }

  .table-title span {
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    float: left;
    background: url("../../assets/images/searchBorder.png") no-repeat right center;
    border-top: 1px solid #f2f2f2;
  }

  .table-con {
    height: 350px;
    overflow-y: auto;
  }
</style>
