<template>
  <section class="main">
    <optimization-nav></optimization-nav>
    <router-view></router-view>
  </section>
</template>

<script>
  import OptimizationNav from '../layout/OptimizationNav.vue'

  export default {
    name: 'OptimizationHome',
    data() {
      return {
        username: ''
      }
    },
    mounted() {

    },
    components: {
      OptimizationNav
    }
  }
</script>

<style scoped>
  .main {
    width: 100%;
    height: 100%;
    margin-top: 68px;
    background: #f8f8f8;
  }
</style>
