<template>
  <div id="chart2">

  </div>
</template>


<script>

  let echarts = require('echarts');

  export default {
    name: 'chart2',
    data() {
      return {
        data: [],
      }
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('chart2'));
      myChart.setOption({
          title: {
            text: ''
          },
          tooltip : {
            trigger: 'axis',
            axisPointer: {
              type: 'cross',
              label: {
              }
            }
          },
          legend: {
            data:[]
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis : [
            {
              show:false,
              type : 'category',
              boundaryGap : false,
              data : []
            }
          ],
          yAxis : [
            {
              show:false,
              type : 'value'
            }
          ],
          series : [
            {
              name:'计划',
              type:'line',
              stack: '总量',
              areaStyle: {normal: {
                color:'#A3E0FF'
              }},
              data:[98, 88, 78, 68, 78, 88, 89]
            },
            {
              name:'实际',
              type:'line',
              stack: '总量',
              areaStyle: {normal: {
                color:'#CCEEFF'
              }},
              data:[96, 80, 70, 70, 74, 85, 80]
            }
          ]
      }
      )
    }
  }

</script>


<style scoped>

  #chart2{
    width: 200px;
    height: 200px;
  }
</style>
