<template>
  <section class="main">
    <basic-data-nav></basic-data-nav>
    <router-view></router-view>
  </section>
</template>

<script>
  import BasicDataNav from '../layout/BasicDataNav.vue'

  export default {
    name: 'BasicDataHome',
    data() {
      return {
        username: ''
      }
    },
    mounted() {

    },
    components: {
      BasicDataNav,
    }
  }
</script>

<style scoped>
  .main {
    width: 100%;
    height: 100%;
    margin-top: 68px;
    background: #f8f8f8;
  }
</style>
