<template>
  <div class="carCapacity">
    <el-col :span="22">

      <!--列表-->
      <el-row id="list">
        <el-col :span="22" :offset="1">
          <el-table :data="carCapacityList"
                    height="400" border style="width: 100%">
            <el-table-column prop="carTypeNo" label="车型ID" width="150"></el-table-column>
            <el-table-column prop="carTypeName" label="车型" width="150"></el-table-column>
            <el-table-column prop="className" label="大类名称" width="150"></el-table-column>
            <el-table-column prop="totalPrice" label="总金额" width="150"></el-table-column>
            <el-table-column prop="classPercent" label="百分比" width="150"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

    </el-col>
  </div>

</template>

<script>

  import Api from '../../api/api.js'

  export default {
    name: 'carCapacity',
    data() {
      return {
        carCapacityList: []
      }
    },
    created() {
      this.getCarCapacityList()
    },
    methods: {
      getCarCapacityList() {
        let parsm = {
          params: {}
        }
        this.$axios.get(Api.getCarCapacityList)
          .then(response => {
            let data = response.data
            this.carCapacityList = data.data
          })
      },
      handleSizeChange(val) {
        this.pageSize = val
        this.getBasicOrderList()
      },
      handleCurrentChange(val) {
        this.currentPage = val
        this.getBasicOrderList()
      },
    }
  }
</script>

<style scoped>
  #list {
    padding-top: 60px;
  }
</style>
