<template>
  <div class="carType">
    <el-col :span="20">

      <!--列表-->
      <el-row id="list">
        <el-col :span="20" :offset="2">
          <el-table :data="carTypeList"
                    height="450" border style="width: 100%">
            <el-table-column prop="carTypeNo" label="车型ID" width="150"></el-table-column>
            <el-table-column prop="carTypeName" label="车型" width="150"></el-table-column>
            <el-table-column prop="standardLoadVolume" label="标准装载体积" width="150"></el-table-column>
            <el-table-column prop="count" label="总数" width="150"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>

  import Api from '../../api/api.js'

  export default {
    name: 'carType',
    data() {
      return {
        carTypeList: []
      }
    },
    created() {
      this.getCarTypeList()
    },
    methods: {
      getCarTypeList() {
        let parsm = {
          params: {
          }
        }
        this.$axios.get(Api.getCarTypeList)
          .then(response => {
          let data = response.data
            this.carTypeList = data.data
        })
      },
    }
  }
</script>

<style scoped>
  #list{
    padding-top: 60px;
  }
</style>
