<template>
  <div class="company">
    <el-col :span="22">
      <el-row class="">

        <el-col :span="10" :offset="1" class="list-filter">
          <el-select v-model="stationId" clearable filterable placeholder="选择商圈">
            <el-option v-for="item in stationList" :key="item" :value="item"></el-option>
          </el-select>
          <el-button type="primary" @click="search()">查询</el-button>
        </el-col>

        <el-col :span="12" class="list-switch">
          <el-switch v-model="switchValue" v-on:change="switchListAndMap()"
                     on-text="列表" off-text="地图"
                     on-color="#13ce66" off-color="#20a0ff"
                     on-value="on" off-value="off">
          </el-switch>
        </el-col>

      </el-row>

      <!--列表-->
      <el-row v-show="showList">
        <el-col :span="22" :offset="1">
          <el-table :data="companyList"
                    height="400" border style="width: 100%">
            <el-table-column prop="id" label="客户ID" width="150"></el-table-column>
            <el-table-column prop="lat" label="纬度" width="150"></el-table-column>
            <el-table-column prop="lng" label="经度" width="150"></el-table-column>
            <!--<el-table-column prop="warehouseId" label="仓库ID" width="150"></el-table-column>-->
            <el-table-column prop="warehouseName" label="仓库" width="150"></el-table-column>
            <el-table-column prop="stationRegionId" label="商圈ID" width="150"></el-table-column>
            <el-table-column prop="cityId" label="城市Id" width="150"></el-table-column>
            <!--<el-table-column prop="status" label="状态" width="150"></el-table-column>-->
            <el-table-column prop="expectPeriod" label="期望送货时间" width="200"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <!--地图-->
      <el-row v-show="showMap">
        <el-col :span="20" :offset="1">
          <div id="gmap">
          </div>
        </el-col>
      </el-row>

      <!--分页-->
      <el-row class="list-pagination">
        <el-col :span="20" :offset="1">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :page-sizes=pageSizes :page-size=pageSize :total=total
                         layout="total, sizes, prev, pager, next, jumper">
          </el-pagination>
        </el-col>
      </el-row>

    </el-col>

  </div>
</template>

<script>

  import Api from '../../api/api.js'

  export default {
    name: 'company',
    data() {
      return {
        pageSizes: [20, 50, 100, 200],
        pageSize: 50,
        total: 0,
        currentPage: 1,
        companyList: [],
        gmap: null,
        showList: true,
        showMap: false,
        switchValue: 'on',
        stationList: [],
        stationId: ''
      }
    },
    mounted() {
      this.gmap = this.loadMap();
      this.getCompanyList();
      this.getStationRegionList()
    },

    methods: {
      search() {
        this.getCompanyList();
      },
      getStationRegionList() {
        this.$axios.get(Api.getStationRegionList)
          .then(response => {
            if (response.data.success) {
              this.stationList = response.data.data;
            }
          })
      },
      getCompanyList() {
        let parsm = {
          params: {
            stationId: this.stationId,
            page: this.currentPage,
            pageSize: this.pageSize
          }
        };
        this.$axios.get(Api.getCompanyList, parsm)
          .then(response => {
            let data = response.data
            this.companyList = data.data
            this.total = Number(data.total)
            this.addCompany(this.gmap);
          })
      },
      handleSizeChange(val) {
        this.pageSize = val;
        this.getCompanyList();
      }
      ,
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getCompanyList();
      }
      ,
      loadMap() {
        return new AMap.Map('gmap', {
          zoom: 9,
          center: [116.404, 39.915]
        });
      }
      ,
      addCompany(gmap) {
        gmap.clearMap();

        let pointList = this.companyList;
        let regionList = this.stationList;
        // 自定义标注
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          //内置的样式
          let iconStyles = SimpleMarker.getBuiltInIconStyles('default');

          if (pointList !== null) {
            for (let i = 0; i < pointList.length; ++i) {
              let point = new AMap.LngLat(pointList[i].lng, pointList[i].lat);
              let iconIndex = regionList.indexOf(Number(pointList[i].stationRegionId));
              let marker = new SimpleMarker({
                map: gmap,
                position: point,
                iconStyle: iconStyles[iconIndex + 1],
              });

              // 设置信息窗
              let markerContent = [];
              markerContent.push("门店编号：" + pointList[i].id);
              markerContent.push("经度：" + pointList[i].lng);
              markerContent.push("纬度：" + pointList[i].lat);
              marker.content = markerContent.join("<br/>");

              let infoWindow = new AMap.InfoWindow();
              marker.on('click', function (e) {
                infoWindow.setContent(e.target.content);
                infoWindow.open(gmap, e.target.getPosition());
              });
            }
          }
        });
      }
      ,
      switchListAndMap() {
        if (this.switchValue === "on") {
          this.showList = true;
          this.showMap = false;
        } else {
          this.showList = false;
          this.showMap = true;
        }
      }
    }
  }
</script>

<style scoped>

  .company {
    width: 100%;
    height: 100%;
  }

  .list-filter {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list-switch {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
  }

  #gmap {
    width: 100%;
    height: 450px;
    margin: 0;
    border: 1px solid #999;
  }

  .list-pagination {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
</style>
