<template>
  <div class="order">
    <el-col :span="22">

      <!--过滤条件-->
      <el-row class="list-filter">
        <el-col :span="20" :offset="1">
          <el-date-picker v-model="date" type="date" placeholder="选择日期"></el-date-picker>
          <el-select v-model="stationId" clearable filterable placeholder="选择商圈">
            <el-option v-for="item in stationList" :key="item" :value="item"></el-option>
          </el-select>
          <el-button type="primary" @click="search()">查询</el-button>
        </el-col>
      </el-row>

      <!--列表-->
      <el-row>
        <el-col :offset="1">
          <el-table :data="orderList"
                    height="400" border style="width: 100%">
            <el-table-column prop="data" label="日期" width="150"></el-table-column>
            <!--<el-table-column prop="warehouseId" label="仓库ID" width="150"></el-table-column>-->
            <el-table-column prop="warehouseName" label="仓库" width="150"></el-table-column>
            <el-table-column prop="stationRegionId" label="商圈ID" width="150"></el-table-column>
            <el-table-column prop="orderNo" label="订单号" width="150"></el-table-column>
            <el-table-column prop="customerId" label="商户ID" width="150"></el-table-column>
            <el-table-column prop="totalNum" label="总包裹数" width="150"></el-table-column>
            <el-table-column prop="totalVolume" label="总体积" width="150"></el-table-column>
            <el-table-column prop="totalPrice" label="总价格" width="150"></el-table-column>
            <el-table-column prop="receiptTime" label="送达时间" width="200"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <!--分页-->
      <el-row class="list-pagination">
        <el-col :span="20" :offset="1">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :page-sizes=pageSizes :page-size=pageSize :total=total
                         layout="total, sizes, prev, pager, next, jumper">
          </el-pagination>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>

  import Api from '../../api/api.js'
  import Util from '../../assets/Util.js'

  export default {
    name: 'order',
    data() {
      return {
        pageSizes: [20, 50, 100, 200],
        pageSize: 20,
        total: 0,
        currentPage: 1,
        orderList: [],
        stationList: [],
        date: '',
        stationId: '',
      }
    },
    created() {
    },
    mounted() {
      this.getBasicOrderList()
      this.getStationRegionList()
    },
    methods: {
      getStationRegionList() {
        this.$axios.get(Api.getStationRegionList)
          .then(response => {
            let data = response.data
            this.stationList = data.data
          })
      },
      getBasicOrderList() {
        let parsm = {
          params: {
            date: this.date == '' ? this.date : Util.addDate(new Date(this.date).toISOString().slice(0, 10)),
            stationId: this.stationId,
            page: this.currentPage,
            pageSize: this.pageSize
          }
        }
        this.$axios.get(Api.getBasicOrderList, parsm)
          .then(response => {
            let data = response.data
            this.total = Number(data.total)
            this.orderList = data.data
          })
      },
      handleSizeChange(val) {
        this.pageSize = val
        this.getBasicOrderList()
      },
      handleCurrentChange(val) {
        this.currentPage = val
        this.getBasicOrderList()
      },
      search() {
        this.getBasicOrderList()
      }
    }
  }
</script>

<style scoped>

  .order{
    width: 100%;
    height: 100%;
  }


  .list-filter {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list-pagination {
    padding-top: 20px;
    text-align: center;
  }
</style>
