<template>
  <section class="container-fluid section">
    <div class="row rowHeight">
      <section class="col-md-9 main">
        <div class="main-select">
          <ul class="clearfix">
            <li>
              <span class="name">选择类别：</span>
              <span class="value value01">
								<select>
									<option value="0">全部仓库表</option>
									<option value="1">仓库表-基础数据</option>
									<option value="2">仓库表-复杂数据</option>
									<option value="3">仓库表-复杂数据</option>
								</select>
								<i class="icons"></i>
							</span>
            </li>
            <li>
              <span class="name">选择商圈：</span>
              <span class="value value01">
								<select>
									<option value="0">全部商圈</option>
									<option value="1">商圈01</option>
									<option value="2">山气管02</option>
									<option value="3">文字好多文字好多文字好文字好多文字好多文字好</option>
								</select>
								<i class="icons"></i>
							</span>
            </li>
            <li class="clearfix">
              <span class="name">选择日期：</span>
              <span class="value value02">
								<select>
									<option value="0">全部年份</option>
									<option value="1">2017年</option>
									<option value="2">2018年</option>
									<option value="3">2019年</option>
								</select>
								<i class="icons"></i>
							</span>
              <span class="value value02">
								<select>
									<option value="0">全部月份</option>
									<option value="1">8月</option>
									<option value="2">9月</option>
									<option value="3">10月</option>
								</select>
								<i class="icons"></i>
							</span>
              <span class="border">—</span>
              <span class="value value02">
								<select>
									<option value="0">全部年份</option>
									<option value="1">2017年</option>
									<option value="2">2018年</option>
									<option value="3">2019年</option>
								</select>
								<i class="icons"></i>
							</span>
              <span class="value value02">
								<select>
									<option value="0">全部月份</option>
									<option value="1">8月</option>
									<option value="2">9月</option>
									<option value="3">10月</option>
								</select>
								<i class="icons"></i>
							</span>
              <input class="submitBtn" type="submit" value="查询"/>
            </li>
          </ul>
        </div>
      </section>
      <aside class="col-md-3 sidebar">
        <div class="hgroup">
          <!-- <h3 class="hgroup-title"></h3> -->
          <ul class="hgroup-contion">
            <li>路由数<strong>14</strong></li>
            <li>货车数<strong>18</strong></li>
            <li>订单数<strong>72</strong></li>
          </ul>
        </div>
      </aside>
      <div class="warp clearfix">
        <div class="warp-left">
          <img src="../../assets/images/customer.jpg"/>
        </div>
        <div class="warp-right">
          <div class="main-select slider-select">
            <ul class="clearfix">
              <li>
                <span class="name">选择路由：</span>
                <span class="value value01">
									<select>
										<option value="0">全部路由</option>
										<option value="1">路由01</option>
										<option value="2">路由02</option>
										<option value="3">路由03</option>
									</select>
									<i class="icons"></i>
								</span>
              </li>
            </ul>
          </div>
          <img src="../../assets/images/transport.jpg"/>
        </div>
      </div>
    </div>
  </section>
</template>


<script>


</script>


<style scoped>
</style>
