<template>
  <div class="wearhouse">
    <el-col :span="22">

      <!--模式转换按钮-->
      <el-row class="list-switch">
        <el-col :span="22" :offset="1">
          <el-switch v-model="switchValue" v-on:change="switchListAndMap()"
                     on-text="列表" off-text="地图"
                     on-color="#13ce66" off-color="#20a0ff"
                     on-value="on" off-value="off">
          </el-switch>
        </el-col>
      </el-row>

      <!--列表-->
      <el-row v-show="showList">
        <el-col :span="22" :offset="1">
          <el-table :data="wearhouseList"
                    height="400" border style="width: 100%">
            <el-table-column prop="name" label="仓库名" width="150"></el-table-column>
            <el-table-column prop="lng" label="经度" width="150"></el-table-column>
            <el-table-column prop="lat" label="纬度" width="150"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <!--地图-->
      <el-row v-show="showMap">
        <el-col :span="22" :offset="1">
          <div id="gmap">
          </div>
        </el-col>
      </el-row>

      <!--分页-->
      <el-row class="list-pagination">
        <el-col :span="22" :offset="1">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                         :page-sizes=pageSizes :page-size=pageSize :total=total
                         layout="total, sizes, prev, pager, next, jumper">
          </el-pagination>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>

  import Api from '../../api/api.js';

  export default {
    name: 'wearhouse',

    data() {
      return {
        pageSizes: [20, 50, 100, 200],
        pageSize: 20,
        total: 0,
        currentPage: 1,
        wearhouseList: [],
        gmap: null,
        showList: true,
        showMap: false,
        switchValue: 'on'
      }
    },
    created() {
    },
    mounted() {
      this.gmap = this.loadMap();
      this.getWearhouseList();
    },

    methods: {
      getWearhouseList() {
        this.$axios.get(Api.getWearhouseList)
          .then(response => {
            let data = response.data;
            this.total = Number(data.total);
            this.wearhouseList = data.data;
            this.addWarehouse(this.gmap);
          })
      },
      handleSizeChange(val) {
        this.pageSize = val;
        this.getWearhouseList();
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getWearhouseList();
      },

      // 加载地图
      loadMap() {
        return new AMap.Map('gmap', {
          zoom: 9,
          center: [116.404, 39.915]
        });
      },

      addWarehouse(gmap) {
        let pointList = this.wearhouseList;
        // 自定义标注
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          for (let i = 0; i < pointList.length; i++) {
            let point = new AMap.LngLat(pointList[i].lng, pointList[i].lat);
            let marker = new SimpleMarker({
              map: gmap,
              position: point,
              iconLabel: {
                innerHTML: pointList[i].id,
                style: {
                  color: '#fff'
                }
              },
              iconStyle: 'red',
            });

            // 设置信息窗
            let markerContent = [];
            markerContent.push("仓库名称：" + pointList[i].name);
            markerContent.push("经度：" + pointList[i].lng);
            markerContent.push("纬度：" + pointList[i].lat);
            marker.content = markerContent.join("<br/>");

            // 添加标注点击事件
            let infoWindow = new AMap.InfoWindow();
            marker.on('click', function (e) {
              infoWindow.setContent(e.target.content);
              infoWindow.open(gmap, e.target.getPosition());
            });
          } // for
        });
      },

      switchListAndMap() {
        if (this.switchValue === "on") {
          this.showList = true;
          this.showMap = false;
        } else {
          this.showList = false;
          this.showMap = true;
        }
      }

    }
  };
</script>

<style scoped>

  .wearhouse{
    width: 100%;
    height: 100%;
  }
  .list-switch {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
  }

  #gmap {
    width: 100%;
    height: 450px;
    margin: 0;
    border: 1px solid #999;
  }

  .list-pagination {
    padding-top: 20px;
    text-align: center;
  }
</style>
