@charset "utf-8";
/**
 * @description: 全站基本样式
 * @author: 徐公子 (1793264418@qq.com)
 * @update: 徐公子 (2016-11-02 14:32)
 */

/* 宽度 */
.w1230 {
	width: 1230px;
	margin: 0 auto;
}


/* 定位 */
.tl {
	text-align: left;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.bc {
	margin-left: auto;
	margin-right: auto;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
.center{
	margin-left:auto;
	margin-right: auto;
}
.vm {
	vertical-align: middle;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.abs-right {
	position: absolute;
	right: 0;
}
.zoom {
	zoom: 1;
}
.hidden {
	visibility: hidden;
}
.none {
	display: none;
}
#none {
	display: none;
}
.mt75 {
	margin-top: 75px !important;
}
.ml25 {
	margin-left: 25px;
}
.mr10 {
	margin-right: 10px;
}

/* 文字排版 */
.f16 {
	font-size: 16px;
}
.f18 {
	font-size: 18px;
}
.fb {
	font-weight: 700;
}
