<template>
  <div class="login">

    <section class="container">
      <article class="text-center">
        <hgroup>
          <h1 class="login-title">同城配送路径优化系统</h1>
        </hgroup>
        <form class="form-inline form-site-input">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入用户名" v-model="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入密码" v-model="pwd">
          </div>
          <div class="form-group">
            <button id="Go" type="button" class="btn btn-info" @click="login">GO</button>
          </div>
        </form>
      </article>
    </section>

    <footer class="footer text-center">
      <span class="footer-icon">如亭科技</span>
    </footer>

  </div>
</template>

<script>
  import Api from '../../../api/api.js';

  export default {
    name: 'LoginIndex',
    data() {
      return {
        username: '',
        pwd: '',
        usernameErrorMsg: '',
        pwdErrorMsg: ''
      }
    },

    methods: {
      open(){
        this.$alert('用户名或密码错误', {
          confirmButtonText: '确定',
        });
      },
      login() {
        if (this.username === '')
          this.usernameErrorMsg = "用户名不能为空";
        if (this.pwd === '')
          this.pwdErrorMsg = "密码不能为空";

/*
        Api.login(userDto).then(response => {
          if (response.success) {
            let data = response.data;
            this.$store.dispatch('login', data).then(() => {
              this.$router.push({path: '/'});
            });
          }else{
            this.open()
          }
        });
*/

        let params = {
          username: this.username,
          pwd: this.pwd
        };
        this.$axios.post(Api.login, params)
          .then(response => {
            console.log("response: " + response);
            let data = response.data;
            this.$store.dispatch('login', data).then(() => {
              this.$router.push({path: '/'});
            });
          })
          .catch(error => {
            console.log("error: " + error);
          });
      }
    }

  }
</script>

<style scoped>
  @import "../../../assets/css/login.css";
</style>
