<!--基础数据优化导航栏-->
<template>

  <div class="tab">
    <ul>
      <router-link to="/basic/company" tag="li" active-class="active"><a>客户</a></router-link>
      <router-link to="/basic/order" tag="li" active-class="active"><a>订单</a></router-link>
      <router-link to="/basic/wearhouse" tag="li" active-class="active"><a>仓库</a></router-link>
      <!--<router-link to="/basic/CarCapacity" tag="li" active-class="active"><a>车容量</a></router-link>-->
      <!--<router-link to="/basic/CarType" tag="li" active-class="active"><a>车类型</a></router-link>-->
    </ul>
  </div>

</template>

<script>

  export default {
    name: 'BasicDataNav',
    data() {
      return {}
    },
    methods: {}

  }
</script>

<style scoped>
  .tab {
    width: 100%;
    height: 49px;
    line-height: 49px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
  }

  .tab ul {
  }

  .tab ul li {
    width: 185px;
    text-align: center;
    float: left;
    background: url("../../assets/images/tab-nav.png") no-repeat right center;
  }

  .tab ul li:last-child {
    background: none;
  }

  .tab ul li a {
    width: 100px;
    line-height: 48px;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }
</style>
