<!--评估优化导航栏-->

<template>

  <div class="tab">
    <ul>
      <router-link  to="/output/index" tag="li" active-class="active"><a>主页</a></router-link>
      <router-link to="/output/finance" tag="li" active-class="active"><a>财务指标</a></router-link>
      <router-link to="/output/customer" tag="li" active-class="active"><a>客户服务</a></router-link>
      <router-link to="/output/line" tag="li" active-class="active"><a>线路优化</a></router-link>
    </ul>
  </div>

</template>

<script>

  export default {
    name: 'OptimizationNav',
    data() {
      return {
      }
    },
    methods: {

    }

  }
</script>

<style scoped>
  .tab {
    width: 100%;
    height: 49px;
    line-height: 49px;
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
  }
  .tab ul {}
  .tab ul li {
    width: 185px;
    text-align: center;
    float: left;
    background: url("../../assets/images/tab-nav.png") no-repeat right center;
  }
  .tab ul li:last-child {background: none;}
  .tab ul li a {
    width: 100px;
    line-height: 48px;
    margin: 0 auto;
    /*border-right: 1px solid #f2f2f2;*/
    display: block;
    font-size: 14px;
    color: #000;
    text-decoration: none;
  }
  .tab ul li.active a,
  .tab ul li:hover a {
    color: #56ccff;
    /*border-bottom: 2px solid #56ccff;*/
  }
</style>
