<!--顶部导航栏-->

<template>

  <nav class="navbar navbar-default navbar-fixed-top nav-bgcolor">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-buttom collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">
          <img src="../../assets/images/logo.png"/>
        </a>
        <a class="headName" href="javascript:void(0);">如亭城配智能排线系统</a>
      </div>

      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-aColor">
<!--          <li>
            <router-link to="/overview" tag="a" active-class="active">
              <span>
								<p class="cnName">全局概览</p>
							</span>
            </router-link>
          </li>-->
          <li>
            <router-link to="/basic" tag="a" active-class="active">
             	<span>
								<p class="cnName">基础数据</p>
							</span>
            </router-link>
          </li>
          <li>
            <router-link to="/output" tag="a" active-class="active">
              <span>
								<p class="cnName">评估优化</p>
							</span>
            </router-link>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="navbar-icon1" href="javascript:void(0);">Welcome，{{username}}</a>
          </li>
          <li>
            <a class="navbar-icon2" href="javascript:void(0);" @click='logout'>退出</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</template>

<script>
  export default {
    name: 'TopNav',
    data() {
      return {
        username: '',
      }
    },
    mounted() {
      this.username = this.$store.state.user.name;
    },
    methods: {
      logout() {
        this.$store.dispatch('logout').then(() => {
          this.$router.push({path: '/login'});
        });
      }
    }
  }
</script>

<style scoped>
  .navbar-buttom {
    margin: 26px 26px 0 0;
  }

  .nav-bgcolor {
    background: #091d2b !important;
    border-radius: 0 !important;
    border: none !important;
  }

  .nav-bgcolor .navbar-header {
    height: 68px;
    line-height: 68px;
  }

  .nav-bgcolor .navbar-brand {
    height: 68px;
    line-height: 68px;
    display: inline-block;
    /*margin-top: 15px !important;*/
    margin: 5px 0 0 0 !important;
  }

  .nav-bgcolor .headName {
    margin-right: 25px;
    display: inline-block;
    font-size: 21px;
    color: #fff;
    text-decoration: none !important;
  }

  .nav-bgcolor .navbar-aColor li.active,
  .nav-bgcolor .navbar-aColor a {
    background: none !important;
    color: #fff !important;
    text-align: center;
  }

  .nav-bgcolor .navbar-aColor a {
    padding-bottom: 10px;
  }

  .nav-bgcolor .navbar-aColor a span {
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    padding: 9px 12px;
    -webkit-transition: all 180ms linear;
    -moz-transition: all 180ms linear;
    -o-transition: all 180ms linear;
    transition: all 180ms linear;
  }

  .nav-bgcolor .navbar-aColor a.active span,
  .nav-bgcolor .navbar-aColor a:hover span {
    background: #334755 !important;
  }

  .navbar-right {
    height: 60px;
    line-height: 60px;
  }

  .navbar-right li,
  .navbar-right li a {
    height: 68px;
    line-height: 68px;
    font-size: 16px;
    color: #fff !important;
    padding: 0 !important;
  }

  .navbar-right li a.navbar-icon1 {
    background: url("../../assets/images/user.png") no-repeat left center;
  }

  .navbar-right li a.navbar-icon2 {
    background: url("../../assets/images/out.png") no-repeat left center;
  }

  .navbar-right li a.navbar-icon1 {
    padding: 0 42px !important;
    background-size: 32px 32px;
  }

  .navbar-right li a.navbar-icon2 {

    padding: 0 36px !important;
    background-size: 28px 28px;
  }

</style>
