@charset "utf-8";

/**
 * @description: 头部
 * @author: 徐公子 (1793264418@qq.com)
 * @update: 徐公子 (2017-10-02 12:00)
 */

.navbar-buttom {
    margin: 26px 26px 0 0;
}
.nav-bgcolor {
    background: #091d2b !important;
    border-radius: 0 !important;
    border: none !important;
}
.nav-bgcolor .navbar-header {
    height: 88px;
    line-height: 88px;
}
.nav-bgcolor .navbar-brand {
    height: 88px;
    line-height: 88px;
    display: inline-block;
    margin: 15px 0 0 10px !important;
}
.nav-bgcolor .headName {
    margin-right: 25px;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    text-decoration: none !important;
}
.nav-bgcolor .navbar-aColor li.active,
.nav-bgcolor .navbar-aColor a {
    background: none !important;
    color: #fff !important;
    text-align: center;
}
.nav-bgcolor .navbar-aColor a {padding-bottom: 10px;}
.nav-bgcolor .navbar-aColor a span {
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    padding: 9px 12px;
    -webkit-transition: all 180ms linear;
    -moz-transition: all 180ms linear;
    -o-transition: all 180ms linear;
    transition: all 180ms linear;
}
.nav-bgcolor .navbar-aColor a.active span,
.nav-bgcolor .navbar-aColor a:hover span {
    background: #334755 !important;
}
.navbar-right {
    height: 88px;
    line-height: 88px;
}
.navbar-right li,
.navbar-right li a {
    height: 88px;
    line-height: 88px;
    font-size: 16px;
    color: #fff !important;
    padding: 0 !important;
}
.navbar-right li a.navbar-icon1 {
    background: url("../../../images/user.png") no-repeat left center;
}
.navbar-right li a.navbar-icon2 {
    background: url("../../../images/out.png") no-repeat left center;
}
.navbar-right li a.navbar-icon1 {
    padding: 0 42px !important;
    background-size: 32px 32px;
}
.navbar-right li a.navbar-icon2 {
    padding: 0 36px !important;
    background-size: 28px 28px;
}
