<template>
  <div>
    <top-nav></top-nav>

    <el-row>
      <side-nav></side-nav>
      <router-view></router-view>
    </el-row>
  </div>
</template>

<script>
  import TopNav from '../layout/topNav.vue'
  import SideNav from '../layout/sideNav.vue'

  export default {
    name: 'HomeIndex',
    data() {
      return {
        username: ''
      }
    },
    mounted() {

    },
    components: {
      TopNav,
      SideNav
    }
  }
</script>

<style scoped>
  @import "../../../assets/css/overView.css";
</style>
