<!--登录页-->

<template>
  <div class="login">

    <section class="container">
      <article class="text-center">
        <hgroup>
          <h1 class="login-title">如亭城配智能排线系统</h1>
        </hgroup>
        <form class="form-inline form-site-input">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="请输入用户名" v-model="username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="请输入密码" v-model="pwd">
          </div>
          <div class="form-group">
            <button id="Go" type="button" class="btn btn-info" @click="login">GO</button>
          </div>
        </form>
      </article>
    </section>

    <footer class="footer text-center">
      <span class="footer-icon">如亭科技</span>
    </footer>

  </div>
</template>

<script>
  import Api from '../../api/api.js';

  export default {
    name: 'Login',
    data() {
      return {
        username: '',
        pwd: '',
        usernameErrorMsg: '',
        pwdErrorMsg: ''
      }
    },
    methods: {
      open(){
        this.$alert('用户名或密码错误', {
          confirmButtonText: '确定',
        });
      },
      login() {
        if (this.username === '')
          this.usernameErrorMsg = "用户名不能为空";
        if (this.pwd === '')
          this.pwdErrorMsg = "密码不能为空";

        let params = {
          username: this.username,
          pwd: this.pwd
        };
        this.$axios.post(Api.login, params)
          .then(response => {
            let data = response.data.data;
            this.$store.dispatch('login', data).then(() => {
              this.$router.push({path: '/'});
            });
          })
          .catch(error => {
            console.log("error: " + error);
          });
      }
    }

  }
</script>

<style scoped>
  .login {
    background: url('../../assets/images/login.png') no-repeat top center fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .login-title {
    padding-top: 250px;
    text-align: center;
    letter-spacing: 4px;
    font-size: 54px;
    color: #fff;
  }

  .form-site-input {
    margin: 40px 0 0 -4px !important;
  }

  .form-site-input .form-control {
    width: 240px !important;
    height: 42px !important;
    line-height: 42px !important;
    margin: 0 8px !important;
  }

  .form-site-input .btn-info {
    width: 60px !important;
    height: 42px !important;
    line-height: 42px !important;
    padding: 0 12px;
    margin-left: 6px;
  }

  .footer {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 99;
  }

  .footer .footer-icon {
    padding-left: 68px;
    letter-spacing: 3px;
    font-size: 28px;
    color: #fff;
    background: url('../../assets/images/common/footer.png') no-repeat left center;
  }
</style>
