<template>
  <div>

    <el-col :span="20">

      <!--列表-->
      <el-row id="upload">
        <el-col :span="12" :offset="6">
          <el-upload id="upload" class="" ref="upload"
                     action="http://10.11.18.107:8090/file/upload"
                     multiple
                     :on-preview="handlePreview" :on-remove="handleRemove"
                     :on-success="clear"
                     :file-list="fileList" :auto-upload="false">
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
            <div slot="tip" class="el-upload__tip">只能上传 xls 文件</div>
          </el-upload>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fileList: [
        ]
      };
    },
    methods: {
      submitUpload() {
        this.$refs.upload.submit();
      },
      handleRemove(file, fileList) {
      },
      handlePreview(file) {
      },
      clear(response, file, fileList) {
        this.$refs.upload.clearFiles();
      }
    }
  }
</script>

<style>
  #upload input {
    display: none;
  }
</style>
