<template>
  <div id="LineChart3">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'LineChart3',
    data() {
      return {}
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('LineChart3'));
      myChart.setOption({
        title: {
          text: '时间(按月)',
          textStyle: {
            fontSize: 15
          },
          padding: [10, 0, 0, 80],
          subtext: 281,
          subtextStyle: {
            fontSize: 50
          }
        },
        tooltip: {
          trigger: 'axis'
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          name: '月',
          boundaryGap: false,
          data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
        },
        yAxis: {
          type: 'value',
          name: '小时',
        },
        series: [
          {
            name: '时间',
            smooth: true,
            type: 'line',
            data: [120, 180, 140, 110, 120, 150, 180, 200, 150, 130, 200, 281],
            areaStyle: {
              normal: {
                color: {
                  type: 'linear',
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [{
                    offset: 0, color: '#009900'
                  }, {
                    offset: 1, color: '#FFFFFF'
                  }]
                }
              }
            }
          }
        ]
      });
    }
  }
</script>

<style scoped>
  #LineChart3 {
    width: 100%;
    height: 400px;
  }
</style>
