<template>
  <div id="LineChart2">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'LineChart2',
    data() {
      return {}
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('LineChart2'));
      myChart.setOption({
        color: ['#3398DB'],
        title: {
          text: '里程数(按月)',
          textStyle: {
            fontSize: 15
          },
          padding: [10, 0, 0, 80],
          subtext: 7282,
          subtextStyle: {
            fontSize: 50
          }
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        xAxis: [
          {
            type: 'category',
            name: '月',
            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: 'km'
          }
        ],
        series: [
          {
            name: '里程数',
            type: 'bar',
            barWidth: '60%',
            data: [2300, 2560, 2890, 3201, 4010, 3012, 3509, 3890, 4012, 4342, 5844, 7282]
          }
        ]
      });
    }
  }
</script>

<style scoped>
  #LineChart2 {
    width: 100%;
    height: 400px;
  }
</style>
