<template>
  <div id="LineChart1">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'LineChart1',
    data() {
      return {}
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('LineChart1'));
      myChart.setOption({
        title: {
          text: '客户数(按月)',
          textStyle: {
            fontSize: 15
          },
          padding: [10, 0, 0, 80],
          subtext: 56,
          subtextStyle: {
            fontSize: 50
          }
        },
        tooltip: {
          trigger: 'axis'
        },
        toolbox: {
          feature: {
            saveAsImage: {}
          }
        },
        xAxis: {
          type: 'category',
          name: '月',
          boundaryGap: false,
          data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']
        },
        yAxis: {
          type: 'value',
          name: '个',
        },
        series: [
          {
            name: '客户数',
            type: 'line',
            data: [3, 11, 11, 12, 20, 23, 21, 24, 22, 28, 37, 56],
            areaStyle: {
              normal: {
                color: {
                  type: 'linear',
                  x: 0,
                  y: 0,
                  x2: 0,
                  y2: 1,
                  colorStops: [{
                    offset: 0, color: '#FF6600'
                  }, {
                    offset: 1, color: '#FFFFFF'
                  }]
                }
              }
            }
          }
        ]
      });
    }
  }
</script>

<style scoped>
  #LineChart1 {
    width: 100%;
    height: 400px;
  }
</style>
