<template>
  <div id="LineChart4">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'LineChart4',
    data() {
      return {}
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('LineChart4'));
      myChart.setOption({
        color: ['#FF0066'],
        title: {
          text: '金额(按月)',
          textStyle: {
            fontSize: 15
          },
          padding: [10, 0, 0, 80],
          subtext: 5.8,
          subtextStyle: {
            fontSize: 50
          }
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {            // 坐标轴指示器，坐标轴触发有效
            type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
          }
        },
        xAxis: [
          {
            type: 'category',
            name: '月',
            data: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            axisTick: {
              alignWithLabel: true
            }
          }
        ],
        yAxis: [
          {
            type: 'value',
            name: '百万'
          }
        ],
        series: [
          {
            name: '金额',
            type: 'bar',
            barWidth: '60%',
            data: [3.5, 4, 4.9, 5.2, 3.6, 4, 4.8, 3.8, 3.8, 3.5, 4.5, 5.8]
          }
        ]
      });
    }
  }
</script>

<style scoped>
  #LineChart4 {
    width: 100%;
    height: 400px;
  }
</style>
