<template>
  <div id="LineChart5">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'LineChart5',
    data() {
      return {}
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('LineChart5'));
      myChart.setOption({
          title: {
            text: '装载率(按月)',
            textStyle: {
              fontSize: 15
            },
            padding: [0, 0, 0, 30],
            subtext: '90%',
            subtextStyle: {
              fontSize: 25
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
          },
          series: [
            {
              name: '1',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['5%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '2',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['13%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '3',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['21%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '4',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['29%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '5',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['37%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '6',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['45%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '7',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['53%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '8',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['61%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '9',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['69%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                },
                labelLine: {
                  normal: {
                    show: false
                  }
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '10',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['77%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '11',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['85%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            },
            {
              name: '12',
              type: 'pie',
              radius: ['35%', '45%'],
              center: ['93%', '50%'],
              label: {
                normal: {
                  show: false,
                  position: 'center'
                }
              },
              labelLine: {
                normal: {
                  show: false
                }
              },
              data: [
                {value: 0.1, name: '未装载'},
                {value: 0.9, name: '已装载'}
              ]
            }
          ]
        }
      );
    }
  }
</script>

<style scoped>
  #LineChart5 {
    width: 100%;
    height: 200px;
  }
</style>
