<template>
  <div id="chinaMap">

  </div>
</template>

<script>
  let echarts = require('echarts');

  export default {
    name: 'ChinaMap',
    data() {
      return {
        data: [],

      }
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('chinaMap'));

      var geoCoordMap = {
        "丽水":[119.92,28.45],
        "洛阳":[112.44,34.7],
        "秦皇岛":[119.57,39.95],
        "株洲":[113.16,27.83],
        "石家庄":[114.48,38.03],
        "莱芜":[117.67,36.19],
        "常德":[111.69,29.05],
        "保定":[115.48,38.85],
        "湘潭":[112.91,27.87],
        "金华":[119.64,29.12],
        "岳阳":[113.09,29.37],
        "长沙":[113,28.21],
        "衢州":[118.88,28.97],
        "廊坊":[116.7,39.53],
        "菏泽":[115.480656,35.23375],
        "合肥":[117.27,31.86],
        "武汉":[114.31,30.52],
        "大庆":[125.03,46.58]
      };

      var convertData = function (data) {
        var res = [];
        for (var i = 0; i < data.length; i++) {
          var geoCoord = geoCoordMap[data[i].name];
          if (geoCoord) {
            res.push({
              name: data[i].name,
              value: geoCoord.concat(data[i].value)
            });
          }
        }
        return res;
      };

      myChart.setOption({
        backgroundColor: '#FFFFFF',
        title: {
          text: '全国主要城市空气质量',
          x:'center',
          textStyle: {
            color: '#fff'
          }
        },
        tooltip: {
          trigger: 'item',
          formatter: function (params) {
            return params.name + ' : ' + params.value[2];
          }
        },
        legend: {
          orient: 'vertical',
          y: 'bottom',
          x:'right',
//          data:['pm2.5'],
          textStyle: {
            color: '#fff'
          }
        },
        visualMap: {
          min: 0,
          max: 200,
          calculable: true,
          inRange: {
            color: ['#50a3ba', '#eac736', '#d94e5d']
          },
          textStyle: {
            color: '#fff'
          }
        },
        geo: {
          map: 'china',
          label: {
            emphasis: {
              show: false
            }
          },
          itemStyle: {
            normal: {
              areaColor: '#FFFFFF',
              borderColor: '#111'
            },
            emphasis: {
              // areaColor: '#2a333d'
            }
          }
        },
        series: [
          {
            name: 'pm2.5',
            type: 'scatter',
            coordinateSystem: 'geo',
            data: convertData([
              {name: "丽水", value: 1},
              {name: "洛阳", value: 20},
              {name: "秦皇岛", value: 136},
              {name: "株洲", value: 143},
              {name: "石家庄", value: 147},
              {name: "莱芜", value: 148},
              {name: "常德", value: 152},
              {name: "保定", value: 153},
              {name: "湘潭", value: 154},
              {name: "金华", value: 157},
              {name: "岳阳", value: 169},
              {name: "长沙", value: 175},
              {name: "衢州", value: 177},
              {name: "廊坊", value: 193},
              {name: "菏泽", value: 194},
              {name: "合肥", value: 229},
              {name: "武汉", value: 273},
              {name: "大庆", value: 279}
            ]),
            symbolSize: 15,
            label: {
              normal: {
                show: false
              },
              emphasis: {
                show: false
              }
            },
            itemStyle: {
              emphasis: {
                borderColor: '#fff',
                borderWidth: 1
              }
            }
          }
        ]
        }
      );
    }
  }
</script>


<style scoped>
  #chinaMap {
    width: 100%;
    height: 500px;
  }
</style>
