<template>
  <div id="chart1">

  </div>
</template>


<script>

  let echarts = require('echarts');

  export default {
    name: 'chart1',
    data() {
      return {
        data: [],
      }
    },
    mounted() {
      let myChart = echarts.init(document.getElementById('chart1'));
      myChart.setOption({
          title : {
            text: '',
            subtext: ''
          },
          tooltip : {
            trigger: 'axis'
          },
          calculable : true,
          xAxis : [
            {
              type : 'category',
              boundaryGap : false,
              data : []
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel : {
                formatter: '￥{value}'
              }
            }
          ],
          series : [
            {
              name:'最高气温',
              type:'line',
              // backgroundColor:'#CCEEFF'
              data:[11, 11, 15, 13, 12, 13, 10],
//              areaStyle: {
//                normal: {
//                  color:'#CCEEFF'
//                }
//              }
            },
            {
              name:'最低气温',
              type:'line',
              data:[10, 10, 12, 11, 9, 8, 6],
//              areaStyle: {
//                normal: {
//                  color:'#A3E0FF'
//                }
//              }
            },
          ]
        }
      )
    }
  }

</script>


<style scoped>

  #chart1{
    width: 100%;
    height: 500px;
  }
</style>
