<template>
  <section class="container-fluid section content">
    <div class="row">
      <section class="col-sm-9 col-md-9 main">
        <h1 class="main-title">当前日期：2017-09-19</h1>
        <div class="contents">
          <img src="../../assets/images/overview.jpg"/>
        </div>
      </section>
      <aside class="col-sm-3 col-md-3 sidebar">
        <div class="hgroup">
          <h3 class="hgroup-title">商圈01</h3>
          <ul class="hgroup-contion">
            <li>路由数<strong>141</strong></li>
            <li>货车数<strong>18</strong></li>
            <li>订单数<strong>72</strong></li>
          </ul>
        </div>
        <div class="route">
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
          <div class="route-item">
            <h2>04.路由ID：21678911<i class="icons"></i></h2>
            <div class="list">
              <ul>
                <li>配送路径：仓库01:278182-</li>
                <li>门店ID：2881782 - 门店ID：281928 -</li>
                <li>门店ID：2187128 - 门店ID：221781 -</li>
                <li>门店ID： 2182710 - 门店ID：217827 -</li>
              </ul>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </section>
</template>


<script>
  export default {
    data() {
      return {
      }
    },
    created() {
      $(function () {
        init.bindEvent();
      });

      let init = {
        bindEvent: function () {
          $('.route-item h2').click(function () {
            $(this).find('.icons').toggleClass('active');
            $(this).siblings('.list').stop().slideToggle(300);
          })
        }
      };
    },
    methods: {
    }
  }
</script>

<style scoped>
</style>
