<template>
  <div class="planSummary">
    <el-col :span="20">

      <!--过滤条件-->
      <el-row class="list-filter">
        <el-col :span="20" :offset="2">
          <!--时间选择-->
          <el-date-picker v-model="date" type="date" placeholder="选择日期"></el-date-picker>
          <!--优化类型-->
          <el-select v-model="type" clearable placeholder="优化类型">
            <el-option
              v-for="item in types"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <!--button-->
          <el-button type="primary" @click="search()">查询</el-button>
        </el-col>
      </el-row>

      <!--列表-->
      <el-row id="list">
        <el-col :span="20" :offset="2">
          <el-table :data="planSummaryList"
                    height="450" border style="width: 100%">
            <el-table-column prop="date" label="日期" width="150"></el-table-column>
            <el-table-column prop="numberOfOrders" label="订单总数" width="150"></el-table-column>
            <el-table-column prop="totalDeliverySize1" label="包裹总数" width="150"></el-table-column>
            <el-table-column prop="totalDeliverySize2" label="总价格" width="150"></el-table-column>
            <el-table-column prop="totalDeliverySize3" label="总体积" width="150"></el-table-column>
            <el-table-column prop="optimizationRunTimeMinutes" label="最优花费时间" width="150"></el-table-column>
            <el-table-column prop="numberOfRoutes" label="路由数量" width="150"></el-table-column>
            <el-table-column prop="numberOfStops" label="途经门店数量" width="150"></el-table-column>
            <el-table-column prop="numberOfRoutedOrders" label="已经派送的订单数量" width="150"></el-table-column>
            <el-table-column prop="numberOfUnroutedOrders" label="未派送的订单数量" width="150"></el-table-column>
            <el-table-column prop="miles" label="总里程数" width="150"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>

  import Api from '../../api/api.js'

  export default {
    name: 'planSummary',
    data() {
      return {
        type: '',
        date: '',
        types: [{
          value: '0',
          label: '优化前'
        }, {
          value: '1',
          label: '优化后'
        }],
        planSummaryList: []
      }
    },
    created() {
      this.getPlanSummaryList()
    },
    methods: {
      search(){
        this.getPlanSummaryList()
      },
      getPlanSummaryList() {
        let parsm = {
          params: {
            date: this.date,
            type: this.type,
            page: this.currentPage,
            pageSize: this.pageSize
          }
        };
        Api.getPlanSummaryList(parsm).then(response => {
          if (response.success) {
            this.planSummaryList = response.data
          }
        })
      },
    }
  }
</script>

<style scoped>
  #list{
    padding-top: 30px;
  }
</style>
