<template>
  <div class="route">
    <el-col :span="20">

      <!--列表-->
      <div v-show="showList">
        <!--过滤条件-->
        <el-row class="list-filter">
          <el-col :span="20" :offset="2">
            <!--时间选择-->
            <el-date-picker v-model="date" type="date" placeholder="选择日期"></el-date-picker>
            <!--优化类型-->
            <el-select v-model="type" clearable placeholder="优化类型">
              <el-option
                v-for="item in types"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
            <!--button-->
            <el-button type="primary" @click="search()">查询</el-button>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="20" :offset="2">
            <el-table :data="routeList" height="400" border style="width: 100%">
              <el-table-column prop="date" label="日期" width="180"></el-table-column>
              <el-table-column prop="type" label="优化类型" width="180"></el-table-column>
              <el-table-column prop="routeId" label="路由" width="180"></el-table-column>
              <el-table-column prop="carTypeId" label="车类型" width="180"></el-table-column>
              <el-table-column prop="totalCustomer" label="总商户数" width="180"></el-table-column>
              <el-table-column prop="totalOrder" label="总订单数" width="180"></el-table-column>
              <el-table-column prop="totalSsu" label="总包裹数" width="180"></el-table-column>
              <el-table-column prop="totalPrice" label="总金额" width="180"></el-table-column>
              <el-table-column prop="totalVolumn" label="总体积" width="180"></el-table-column>
              <el-table-column prop="miles" label="miles" width="180"></el-table-column>
              <el-table-column prop="hours" label="hours" width="180"></el-table-column>
              <el-table-column prop="driveHouses" label="driveHouses" width="180"></el-table-column>
              <el-table-column prop="waitingHours" label="waitingHours" width="180"></el-table-column>
              <el-table-column prop="totalCost" label="totalCost" width="180"></el-table-column>
              <el-table-column prop="violations" label="violations" width="250"></el-table-column>
              <el-table-column label="操作" width="120">
                <template scope="scope">
                  <el-button @click.native.prevent="getRouteDetailList(scope.row.routeId,scope.row.date,scope.row.type)"
                             type="text" size="max">
                    详情
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-col>
        </el-row>

        <!--分页-->
        <el-row class="list-pagination">
          <el-col :span="20" :offset="2">
            <div class="block">
              <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                             :page-sizes=pageSizes :page-size=pageSize :total=total
                             layout="total, sizes, prev, pager, next, jumper">
              </el-pagination>
            </div>
          </el-col>
        </el-row>

      </div>

      <!--地图-->
      <div v-show="showMap">

        <!--地图转列表按钮-->
        <el-row class="list-switch" v-show="showSwitch">
          <el-col :span="20" :offset="2">
            <el-button type="info" v-on:click="mapToList">回到列表</el-button>
          </el-col>
        </el-row>

        <!--地图-->
        <el-row>
          <el-col :span="16" :offset="2">
            <div id="gmap">
            </div>
          </el-col>

          <!-- 详情列表-->
          <el-col :span="4">
            <div id="list">
              <el-card class="box-card">
                <div slot="header" class="clearfix">
                  <span>时间</span>
                  {{ date }}
                </div>
                <div v-for="detail in routeDetailList" :key="detail" class="text item route-detail">
                  <a v-on:click="showPoint(detail.stop)">
                    标号：{{ detail.stop }}<br/>
                    经度：{{ detail.lng }}<br/>
                    纬度：{{ detail.lat }}<br/>
                  </a>
                </div>
              </el-card>
            </div>
          </el-col>
        </el-row>

      </div>

    </el-col>
  </div>
</template>

<script>
  import Api from '../../api/api.js'
  import Util from '../../assets/Util.js'

  export default {
    name: 'route',
    data() {
      return {
        pageSizes: [20, 50, 100, 200],
        pageSize: 50,
        total: 0,
        currentPage: 1,
        companyList: [],
        routeList: [],
        type: '',
        date: '',
        routeDetailList: [],
        gmap: null,
        showList: true,
        showMap: false,
        showSwitch: false,
        switchValue: 'on',
        types: [{
          value: '0',
          label: '优化前'
        }, {
          value: '1',
          label: '优化后'
        }]
      }
    },
    created() {
      this.getRouteList()
    },
    mounted() {
      this.gmap = this.loadMap();     //加载地图和相关组件
    },

    methods: {
      search(){
        this.getRouteList()
      },
      getRouteList() {
        let parsm = {
          params: {
            date:this.date == '' ?  this.date : Util.addDate(new Date(this.date).toISOString().slice(0,10)),
            type: this.type,
            page: this.currentPage,
            pageSize: this.pageSize
          }
        };
        Api.getRouteList(parsm).then(response => {
          if (response.success) {
            this.total = Number(response.total);
            this.routeList = response.data;
          }
        })
      },
      routeDetail(routeId) {
//        this.$router.push({path: '/output/route/detail', params: {routeId: routeId,type:this.type,date:this.date}})
      },
      search() {
        this.getRouteList();
      },
      getRouteDetailList(routeId, date, type) {
        let parsm = {
          params: {
            date: date,
            type: type == '优化前' ? 0 : 1,
            routeId: routeId
          }
        };
        Api.getRouteDetailList(parsm).then(response => {
          if (response.success) {
            this.routeDetailList = response.data;
            this.addRouteDetail(this.gmap);
          }
        });
        this.showList = false;
        this.showMap = true;
        this.showSwitch = true;
      },

      handleSizeChange(val) {
        this.pageSize = val;
        this.getRouteList();
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getRouteList();
      },

      loadMap() {
        return new AMap.Map('gmap', {
          zoom: 9,
          center: [116.404, 39.915]
        });
      },

      addRouteDetail(gmap) {
        gmap.clearMap();
        gmap.setZoomAndCenter(9, [116.404, 39.915]);
        let pointList = this.routeDetailList;
        // 自定义标注
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          for (let i = 0; i < pointList.length; ++i) {
            let point = new AMap.LngLat(pointList[i].lng, pointList[i].lat);
            let marker = new SimpleMarker({
              id: pointList[i].stop,
              map: gmap,
              position: point,
              iconLabel: {
                innerHTML: i + 1,
                style: {
                  color: '#fff'
                }
              },
              iconStyle: 'red',
              topWhenClick: true
            });

            // 设置信息窗
            let markerContent = [];
            markerContent.push("序号：" + pointList[i].stop);
            markerContent.push("商户编号：" + pointList[i].customerId);
            markerContent.push("经度：" + pointList[i].lng);
            markerContent.push("纬度：" + pointList[i].lat);
            marker.content = markerContent.join("<br/>");

            let infoWindow = new AMap.InfoWindow({
              offset: new AMap.Pixel(4, -40)
            });

            let clickListener = AMap.event.addListener(marker, "click", function () {
              infoWindow.setContent(marker.content);
              infoWindow.open(gmap, marker.F.position);
            });
//            marker.on('click', function (e) {
//              infoWindow.setContent(e.target.content);
//              infoWindow.open(gmap, e.target.getPosition());
//            });
          }
        });
      },

      showPoint(stop) {
        let markers = this.gmap.getAllOverlays('marker');
        for (let i = 0; i < markers.length; i++) {
          if (markers[i].F.id === stop) {
            let point = new AMap.LngLat(this.routeDetailList[i].lng, this.routeDetailList[i].lat);
            this.gmap.setZoomAndCenter(13, point);
            AMap.event.trigger(markers[i], 'click');
          }
        }
      },

      mapToList() {
        this.showMap = false;
        this.showSwitch = false;
        this.showList = true;
      }

    }
  }
</script>


<style scoped>

  .list-filter {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .list-switch {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
  }

  #gmap {
    width: 100%;
    height: 450px;
    margin: 0;
    border: 1px solid #999;
  }

  #list {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 450px;
  }

  .route-detail {
    border: 1px solid #666;
    padding: 5px;
  }

  .block {
    padding-top: 20px;
    text-align: center;
  }
</style>
