<template>
  <div class="routeDetail">

    <el-row>

      <!--地图-->
      <div>
        <el-col :span="12" :offset="4">
          <div id="gmap"></div>
        </el-col>
      </div>

      <!--列表-->
      <div>
        <el-col :span="4">
          <div id="list">
            <el-card class="box-card">
              <div slot="header" class="clearfix">
                <span>时间</span>
              </div>
              <div v-for="detail in routeDetailList" :key="detail" class="text item route-detail">
                <a  v-on:click="showPoint(detail.stop)">
                标号：{{ detail.stop }}<br/>
                经度：{{ detail.lng }}<br/>
                纬度：{{ detail.lat }}<br/>
                </a>
              </div>
            </el-card>
          </div>
        </el-col>
      </div>

    </el-row>

  </div>
</template>

<script>
  import Api from '../../api/api.js'

  export default {
    name: 'routeDetail',

    data() {
      return {
        routeDetailList: [],
        regionList: [],
        gmap: null,
        routeId:'',
        date:'',
        type:0,
      }
    },
    created() {
    },
    mounted() {
      this.gmap = this.loadMap();     //加载地图和相关组件
      this.getRouteDetailList();
    },

    methods: {
      getRouteDetailList() {
        let parsm = {
          params: {
            date: this.date,
            type: this.type,
            routeId: this.routeId
          }
        };
        Api.getRouteDetailList(parsm).then(response => {
          if (response.success) {
            this.routeDetailList = response.data;
            this.addRouteDetail(this.gmap);
          }
        })
      },

      loadMap() {
        return new AMap.Map('gmap', {
          zoom: 9,
          center: [116.404, 39.915]
        });
      },

      addRouteDetail(gmap) {
        let pointList = this.routeDetailList;
        // 自定义标注
        AMapUI.loadUI(['overlay/SimpleMarker'], function (SimpleMarker) {
          for (let i = 0; i < pointList.length; ++i) {
            let point = new AMap.LngLat(pointList[i].lng, pointList[i].lat);
            let marker = new SimpleMarker({
              map: gmap,
              position: point,
              iconLabel: {
                innerHTML: i+1,
                style: {
                  color: '#fff'
                }
              },
              iconStyle: 'red',
            });

            // 设置信息窗
            let markerContent = [];
            markerContent.push("序号：" + pointList[i].stop);
            markerContent.push("商户编号：" + pointList[i].customerId);
            markerContent.push("经度：" + pointList[i].lng);
            markerContent.push("纬度：" + pointList[i].lat);
            marker.content = markerContent.join("<br/>");

            let infoWindow = new AMap.InfoWindow({
              offset: new AMap.Pixel(4, -40)
            });
            marker.on('click', function (e) {
              infoWindow.setContent(e.target.content);
              infoWindow.open(gmap, e.target.getPosition());
            });
          }
        });
      },

      // TODO 列表点击，地图响应
      showPoint(index) {
        let markers = this.gmap.getAllOverlays(AMap.MarKer);
//        for (let i = 0; i < this.routeDetailList.length; ++i) {
//          let point = new AMap.LngLat(this.routeDetailList[i-1].lng, this.routeDetailList[i-1].lat);
//          if (this.routeDetailList[i].stop === index) {
//            let point = new AMap.LngLat(this.routeDetailList[i].lng, this.routeDetailList[i].lat);
//            this.gmap.setZoomAndCenter(13, point);
//
//            let infoWindow = new AMap.InfoWindow({
//              offset: new AMap.Pixel(4, -40)
//            });
//            infoWindow.setContent(markers[i].getContent);
//            infoWindow.open(gmap, markers[i].getPosition());
//          }
//        }
      }

    }
  }
</script>

<style scoped>
  #gmap {
    width: 100%;
    height: 600px;
    margin: 0;
  }
  #list {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
  }
  .route-detail {
    border: 1px solid #666;
    padding: 5px;
  }

  .block {
    padding-top: 20px;
    text-align: center;
  }
</style>
