<template>
  <div class="unRouteOrders">
    <el-col :span="20">

      <!--过滤条件-->
      <el-row class="list-filter">
        <el-col :span="20" :offset="2">
          <!--时间选择-->
          <el-date-picker v-model="date" type="date" placeholder="选择日期"></el-date-picker>
          <!--button-->
          <el-button type="primary" @click="search()">查询</el-button>
        </el-col>
      </el-row>

      <!--列表-->
      <el-row>
        <el-col :span="20" :offset="2">
          <el-table :data="unRouteOrderList"
                    height="400" border style="width: 100%">
            <el-table-column prop="date" label="日期" width="150"></el-table-column>
            <el-table-column prop="type" label="类型" width="150"></el-table-column>
            <el-table-column prop="orderNumber" label="订单ID" width="150"></el-table-column>
            <el-table-column prop="totalSsu" label="总包裹数" width="150"></el-table-column>
            <el-table-column prop="totalPrice" label="总金额" width="150"></el-table-column>
            <el-table-column prop="totalVolumn" label="总体积" width="150"></el-table-column>
            <el-table-column prop="customerNumber" label="客户ID" width="150"></el-table-column>
            <el-table-column prop="name" label="name" width="150"></el-table-column>
            <el-table-column prop="street" label="street" width="150"></el-table-column>
            <el-table-column prop="city" label="city" width="150"></el-table-column>
            <el-table-column prop="state" label="state" width="150"></el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <!--分页-->
      <el-row class="list-pagination">
        <el-col :span="20" :offset="2">
          <div class="block">
            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                           :page-sizes=pageSizes :page-size=pageSize :total=total
                           layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>
          </div>
        </el-col>
      </el-row>

    </el-col>
  </div>
</template>

<script>

  import Api from '../../api/api.js';
  import Util from '../../assets/Util.js'

  export default {
    name: 'unRouteOrders',

    data() {
      return {
        pageSizes: [20, 50, 100, 200],
        pageSize: 50,
        total: 0,
        currentPage: 1,
        unRouteOrderList: [],
        date: ''
      }
    },
    mounted() {
      this.getUnRouteOrderList();
    },

    methods: {
      search(){
        this.getUnRouteOrderList();
      },
      getUnRouteOrderList() {
        let parsm = {
          params: {
            date: this.date == '' ? this.date : Util.addDate(new Date(this.date).toISOString().slice(0, 10)),
            page: this.currentPage,
            pageSize: this.pageSize
          }
        }
        Api.getUnRouteOrderList(parsm).then(response => {
          if (response.success) {
            this.total = Number(response.total);
            this.unRouteOrderList = response.data;
          }
        })
      },
      handleSizeChange(val) {
        this.pageSize = val;
        this.getRouteList();
      },
      handleCurrentChange(val) {
        this.currentPage = val;
        this.getRouteList();
      },
    }
  };
</script>

<style scoped>
  .list-filter {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .list-pagination {
    padding-top: 20px;
    text-align: center;
  }
</style>
