<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
    created() {},
    methods: {}
  }
</script>

<style>
  #app {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
  }
</style>
