<!--侧边导航栏-->
<template>

  <el-col :span="4">
    <el-menu id="side-nav-menu" class="el-menu-vertical-demo">
      <el-menu-item index="1">
        <router-link to="/basic/company">商户</router-link>
      </el-menu-item>
      <el-menu-item index="2">
        <router-link to="/basic/wearhouse">仓库</router-link>
      </el-menu-item>
      <el-menu-item index="3">
        <router-link to="/basic/car/type">车型</router-link>
      </el-menu-item>
      <el-menu-item index="4">
        <router-link to="/basic/car/capacity">车装载量</router-link>
      </el-menu-item>
      <el-menu-item index="5">
        <router-link to="/basic/order">订单</router-link>
      </el-menu-item>
      <el-menu-item index="6">
        <router-link to="/output/route">路由</router-link>
      </el-menu-item>
      <el-menu-item index="7">
        <router-link to="/output/order">优化订单</router-link>
      </el-menu-item>
      <el-menu-item index="8">
        <router-link to="/output/order/unrouted">未路由订单</router-link>
      </el-menu-item>
      <el-menu-item index="9">
        <router-link to="/output/plansummary">总览</router-link>
      </el-menu-item>
    </el-menu>
  </el-col>

</template>

<script>
  export default {
    name: 'sideNav',
    data() {
      return {}
    }
  }
</script>

<style scoped>
  #side-nav-menu {
    height: 600px;
  }
</style>
