<!--顶部导航栏-->
<template>

  <nav class="navbar navbar-default nav-bgcolor">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-buttom collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0);">
          <img src="../site/images/logo.png" />
        </a>
        <a class="headName" href="javascript:void(0);">和亭路由评估优化系统</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav navbar-aColor">
          <li>
            <a class="active" href="javascript:void(0);">
							<span>
								<p class="cnName">全局概览</p>
								<p class="enName">Overview</p>
							</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
							<span>
								<p class="cnName">基础数据</p>
								<p class="enName">Basic data</p>
							</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
							<span>
								<p class="cnName">评估优化</p>
								<p class="enName">Optimization</p>
							</span>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="navbar-icon1" href="javascript:void(0);">Welcome，美菜网</a>
          </li>
          <li>
            <a class="navbar-icon2" href="javascript:void(0);">退出</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div>
    <el-col :span="24">
      <el-menu theme="dark" class="" mode="horizontal">
        <el-menu-item index="1">{{username}}</el-menu-item>
      </el-menu>
    </el-col>

        <el-button type="primary" v-on:click="logout">退出</el-button>
  </div>

</template>

<script>

  export default {
    name: 'topNav',
    data() {
      return {
        username: ''
      }
    },
    mounted() {
      this.username = this.$store.state.user.name;
    },
    methods: {
      logout() {
        this.$store.dispatch('FedLogOut').then(() => {
          this.$router.push({path: '/login'});
        });
      }
    }

  }
</script>

<style scoped>
  @import "../../../assets/css/overView.css";
</style>
