<template>
  <div>
    <top-nav></top-nav>
    <router-view></router-view>
  </div>
</template>

<script>
  import TopNav from './layout/TopNav.vue'

  export default {
    name: 'Home',
    data() {
      return {
        username: ''
      }
    },
    mounted() {

    },
    components: {
      TopNav
    }
  }
</script>
